*, ::backdrop {
  --md-comp-radio-button-enabled-selected-icon-color: var(--md-sys-color-primary);
  --md-comp-radio-button-enabled-unselected-icon-color: var(--md-sys-color-on-surface-variant);
  --md-comp-radio-button-enabled-icon-size: 20px;
  --md-comp-radio-button-enabled-icon-state-layer-size: 40px;
  --md-comp-radio-button-hovered-selected-icon-state-layer-color: var(--md-sys-color-primary);
  --md-comp-radio-button-hovered-selected-icon-state-layer-opacity: var(--md-sys-state-hover-state-layer-opacity);
  --md-comp-radio-button-hovered-selected-icon-color: var(--md-sys-color-primary);
  --md-comp-radio-button-hovered-unselected-icon-state-layer-color: var(--md-sys-color-on-surface);
  --md-comp-radio-button-hovered-unselected-icon-state-layer-opacity: var(--md-sys-state-hover-state-layer-opacity);
  --md-comp-radio-button-hovered-unselected-icon-color: var(--md-sys-color-on-surface);
  --md-comp-radio-button-focused-selected-icon-state-layer-color: var(--md-sys-color-primary);
  --md-comp-radio-button-focused-selected-icon-state-layer-opacity: var(--md-sys-state-focus-state-layer-opacity);
  --md-comp-radio-button-focused-selected-icon-color: var(--md-sys-color-primary);
  --md-comp-radio-button-focused-unselected-icon-state-layer-color: var(--md-sys-color-on-surface);
  --md-comp-radio-button-focused-unselected-icon-state-layer-opacity: var(--md-sys-state-focus-state-layer-opacity);
  --md-comp-radio-button-focused-unselected-icon-color: var(--md-sys-color-on-surface);
  --md-comp-radio-button-pressed-selected-icon-state-layer-color: var(--md-sys-color-on-surface);
  --md-comp-radio-button-pressed-selected-icon-state-layer-opacity: var(--md-sys-state-pressed-state-layer-opacity);
  --md-comp-radio-button-pressed-selected-icon-color: var(--md-sys-color-primary);
  --md-comp-radio-button-pressed-unselected-icon-state-layer-color: var(--md-sys-color-primary);
  --md-comp-radio-button-pressed-unselected-icon-state-layer-opacity: var(--md-sys-state-pressed-state-layer-opacity);
  --md-comp-radio-button-pressed-unselected-icon-color: var(--md-sys-color-on-surface);
  --md-comp-radio-button-disabled-selected-icon-color: var(--md-sys-color-on-surface);
  --md-comp-radio-button-disabled-selected-icon-opacity: 38%;
  --md-comp-radio-button-disabled-unselected-icon-color: var(--md-sys-color-on-surface);
  --md-comp-radio-button-disabled-unselected-icon-opacity: 38%;
}