*, ::backdrop {
  --md-comp-switch-enabled-selected-track-color: var(--md-sys-color-primary);
  --md-comp-switch-enabled-unselected-track-color: var(--md-sys-color-surface-container-highest);
  --md-comp-switch-enabled-unselected-track-outline-color: var(--md-sys-color-outline);
  --md-comp-switch-enabled-selected-thumb-color: var(--md-sys-color-on-primary);
  --md-comp-switch-enabled-unselected-thumb-color: var(--md-sys-color-outline);
  --md-comp-switch-enabled-selected-icon-color: var(--md-sys-color-on-primary-container);
  --md-comp-switch-enabled-unselected-icon-color: var(--md-sys-color-surface-container-highest);
  --md-comp-switch-hovered-selected-track-color: var(--md-sys-color-primary);
  --md-comp-switch-hovered-selected-track-state-layer-color: var(--md-sys-color-primary);
  --md-comp-switch-hovered-selected-track-state-layer-opacity: var(--md-sys-state-hover-state-layer-opacity);
  --md-comp-switch-hovered-unselected-track-color: var(--md-sys-color-surface-container-highest);
  --md-comp-switch-hovered-unselected-track-outline-color: var(--md-sys-color-outline);
  --md-comp-switch-hovered-unselected-track-state-layer-color: var(--md-sys-color-on-surface);
  --md-comp-switch-hovered-unselected-track-state-layer-opacity: var(--md-sys-state-hover-state-layer-opacity);
  --md-comp-switch-hovered-selected-thumb-color: var(--md-sys-color-primary-container);
  --md-comp-switch-hovered-unselected-thumb-color: var(--md-sys-color-on-surface-variant);
  --md-comp-switch-hovered-selected-icon-color: var(--md-sys-color-on-primary-container);
  --md-comp-switch-hovered-unselected-icon-color: var(--md-sys-color-surface-container-highest);
  --md-comp-switch-focused-selected-track-color: var(--md-sys-color-primary);
  --md-comp-switch-focused-selected-track-state-layer-color: var(--md-sys-color-primary);
  --md-comp-switch-focused-selected-track-state-layer-opacity: var(--md-sys-state-focus-state-layer-opacity);
  --md-comp-switch-focused-unselected-track-color: var(--md-sys-color-surface-container-highest);
  --md-comp-switch-focused-unselected-track-outline-color: var(--md-sys-color-outline);
  --md-comp-switch-focused-unselected-track-state-layer-color: var(--md-sys-color-on-surface);
  --md-comp-switch-focused-unselected-track-state-layer-opacity: var(--md-sys-state-focus-state-layer-opacity);
  --md-comp-switch-focused-selected-thumb-color: var(--md-sys-color-primary-container);
  --md-comp-switch-focused-unselected-thumb-color: var(--md-sys-color-on-surface-variant);
  --md-comp-switch-focused-selected-icon-color: var(--md-sys-color-on-primary-container);
  --md-comp-switch-focused-unselected-icon-color: var(--md-sys-color-surface-container-highest);
  --md-comp-switch-pressed-selected-track-color: var(--md-sys-color-primary);
  --md-comp-switch-pressed-selected-track-state-layer-color: var(--md-sys-color-primary);
  --md-comp-switch-pressed-selected-track-state-layer-opacity: var(--md-sys-state-pressed-state-layer-opacity);
  --md-comp-switch-pressed-unselected-track-color: var(--md-sys-color-surface-container-highest);
  --md-comp-switch-pressed-unselected-track-outline-color: var(--md-sys-color-outline);
  --md-comp-switch-pressed-unselected-track-state-layer-color: var(--md-sys-color-on-surface);
  --md-comp-switch-pressed-unselected-track-state-layer-opacity: var(--md-sys-state-pressed-state-layer-opacity);
  --md-comp-switch-pressed-selected-thumb-color: var(--md-sys-color-primary-container);
  --md-comp-switch-pressed-unselected-thumb-color: var(--md-sys-color-on-surface-variant);
  --md-comp-switch-pressed-selected-icon-color: var(--md-sys-color-on-primary-container);
  --md-comp-switch-pressed-unselected-icon-color: var(--md-sys-color-surface-container-highest);
  --md-comp-switch-disabled-track-opacity: 12%;
  --md-comp-switch-disabled-selected-track-color: var(--md-sys-color-on-surface);
  --md-comp-switch-disabled-unselected-track-color: var(--md-sys-color-surface-container-highest);
  --md-comp-switch-disabled-unselected-track-outline-color: var(--md-sys-color-on-surface);
  --md-comp-switch-disabled-unselected-thumb-opacity: 38%;
  --md-comp-switch-disabled-selected-thumb-opacity: 100%;
  --md-comp-switch-disabled-selected-thumb-color: var(--md-sys-color-surface);
  --md-comp-switch-disabled-unselected-thumb-color: var(--md-sys-color-on-surface);
  --md-comp-switch-disabled-selected-icon-color: var(--md-sys-color-on-surface);
  --md-comp-switch-disabled-selected-icon-opacity: 38%;
  --md-comp-switch-disabled-unselected-icon-color: var(--md-sys-color-surface-container-highest);
  --md-comp-switch-disabled-unselected-icon-opacity: 38%;
}