*,
::backdrop {
  --md-comp-outlined-button-container-outline-color: var(
    --md-sys-color-outline
  );
  --md-comp-outlined-button-container-outline-width: 1px;
  --md-comp-outlined-button-container-elevation: var(--md-sys-elevation-level0);
  --md-comp-outlined-button-label-text-color: var(--md-sys-color-primary);
  --md-comp-outlined-button-label-text-font: var(
    --md-sys-typescale-label-large-font
  );
  --md-comp-outlined-button-label-text-line-height: var(
    --md-sys-typescale-label-large-line-height
  );
  --md-comp-outlined-button-label-text-size: var(
    --md-sys-typescale-label-large-size
  );
  --md-comp-outlined-button-label-text-tracking: var(
    --md-sys-typescale-label-large-tracking
  );
  --md-comp-outlined-button-label-text-weight: var(
    --md-sys-typescale-label-large-weight
  );
  --md-comp-outlined-button-icon-color: var(--md-sys-color-primary);

  --md-comp-outlined-button-disabled-container-outline-color: var(
    --md-sys-color-on-surface
  );
  --md-comp-outlined-button-disabled-container-outline-opacity: 12%;
  --md-comp-outlined-button-disabled-label-text-color: var(
    --md-sys-color-on-surface
  );
  --md-comp-outlined-button-disabled-label-text-opacity: 38%;
  --md-comp-outlined-button-disabled-icon-color: var(--md-sys-color-on-surface);
  --md-comp-outlined-button-disabled-icon-opacity: 38%;

  --md-comp-outlined-button-hovered-container-outline-color: var(
    --md-sys-color-outline
  );
  --md-comp-outlined-button-hovered-container-state-layer-color: var(
    --md-sys-color-primary
  );
  --md-comp-outlined-button-hovered-container-state-layer-opacity: var(
    --md-sys-state-hover-state-layer-opacity
  );
  --md-comp-outlined-button-hovered-label-text-color: var(
    --md-sys-color-primary
  );
  --md-comp-outlined-button-hovered-icon-color: var(--md-sys-color-primary);

  --md-comp-outlined-button-focused-container-outline-color: var(
    --md-sys-color-primary
  );
  --md-comp-outlined-button-focused-container-state-layer-color: var(
    --md-sys-color-primary
  );
  --md-comp-outlined-button-focused-container-state-layer-opacity: var(
    --md-sys-state-focus-state-layer-opacity
  );
  --md-comp-outlined-button-focused-label-text-color: var(
    --md-sys-color-primary
  );
  --md-comp-outlined-button-focused-icon-color: var(--md-sys-color-primary);

  --md-comp-outlined-button-pressed-container-outline-color: var(
    --md-sys-color-outline
  );
  --md-comp-outlined-button-pressed-container-state-layer-color: var(
    --md-sys-color-primary
  );
  --md-comp-outlined-button-pressed-container-state-layer-opacity: var(
    --md-sys-state-hover-state-layer-opacity
  );
  --md-comp-outlined-button-pressed-label-text-color: var(
    --md-sys-color-primary
  );
  --md-comp-outlined-button-pressed-icon-color: var(--md-sys-color-primary);
}
