:root,
.MaterialTheme {
  --md-comp-rich-tooltip-container-color: var(--md-sys-color-surface-container);
  --md-comp-rich-tooltip-container-elevation: var(--md-sys-elevation-level2);
  --md-comp-rich-tooltip-container-shadow-color: var(--md-sys-color-shadow);
  --md-comp-rich-tooltip-container-shape: var(--md-sys-shape-corner-medium-default-size);
  --md-comp-rich-tooltip-subhead-text-color: var(--md-sys-color-on-surface-variant);
  --md-comp-rich-tooltip-subhead-text-font: var(--md-sys-typescale-title-small-font);
  --md-comp-rich-tooltip-subhead-text-line-height: var(--md-sys-typescale-title-small-line-height);
  --md-comp-rich-tooltip-subhead-text-size: var(--md-sys-typescale-title-small-size);
  --md-comp-rich-tooltip-subhead-text-tracking: var(--md-sys-typescale-title-small-tracking);
  --md-comp-rich-tooltip-subhead-text-weight: var(--md-sys-typescale-title-small-weight);
  --md-comp-rich-tooltip-text-color: var(--md-sys-color-on-surface-variant);
  --md-comp-rich-tooltip-text-font: var(--md-sys-typescale-body-medium-font);
  --md-comp-rich-tooltip-text-line-height: var(--md-sys-typescale-body-medium-line-height);
  --md-comp-rich-tooltip-text-size: var(--md-sys-typescale-body-medium-size);
  --md-comp-rich-tooltip-text-tracking: var(--md-sys-typescale-body-medium-tracking);
  --md-comp-rich-tooltip-text-weight: var(--md-sys-typescale-body-medium-weight);
}
