*, ::backdrop {
  --md-ref-palette-primary0: #000000;
  --md-ref-palette-primary4: #13003a;
  --md-ref-palette-primary6: #190047;
  --md-ref-palette-primary10: #22005c;
  --md-ref-palette-primary12: #270562;
  --md-ref-palette-primary17: #31156c;
  --md-ref-palette-primary20: #381e73;
  --md-ref-palette-primary22: #3c2378;
  --md-ref-palette-primary24: #41287c;
  --md-ref-palette-primary30: #4f378b;
  --md-ref-palette-primary40: #674fa5;
  --md-ref-palette-primary50: #8168c0;
  --md-ref-palette-primary60: #9b82dc;
  --md-ref-palette-primary80: #cfbcff;
  --md-ref-palette-primary87: #e1d3ff;
  --md-ref-palette-primary90: #e9ddff;
  --md-ref-palette-primary92: #eee4ff;
  --md-ref-palette-primary95: #f6eeff;
  --md-ref-palette-primary96: #f8f1ff;
  --md-ref-palette-primary98: #fdf7ff;
  --md-ref-palette-primary100: #ffffff;
  --md-ref-palette-secondary0: #000000;
  --md-ref-palette-secondary4: #100b1d;
  --md-ref-palette-secondary6: #151022;
  --md-ref-palette-secondary10: #1e192b;
  --md-ref-palette-secondary12: #221d2f;
  --md-ref-palette-secondary17: #2c273a;
  --md-ref-palette-secondary20: #332d41;
  --md-ref-palette-secondary22: #373245;
  --md-ref-palette-secondary24: #3c364a;
  --md-ref-palette-secondary30: #4a4458;
  --md-ref-palette-secondary40: #625b71;
  --md-ref-palette-secondary50: #7b748a;
  --md-ref-palette-secondary60: #958da4;
  --md-ref-palette-secondary80: #ccc2db;
  --md-ref-palette-secondary87: #dfd6ef;
  --md-ref-palette-secondary90: #e8def8;
  --md-ref-palette-secondary92: #eee4fe;
  --md-ref-palette-secondary95: #f6eeff;
  --md-ref-palette-secondary96: #f8f1ff;
  --md-ref-palette-secondary98: #fdf7ff;
  --md-ref-palette-secondary100: #ffffff;
  --md-ref-palette-tertiary0: #000000;
  --md-ref-palette-tertiary4: #21040f;
  --md-ref-palette-tertiary6: #270815;
  --md-ref-palette-tertiary10: #31101d;
  --md-ref-palette-tertiary12: #361421;
  --md-ref-palette-tertiary17: #421f2b;
  --md-ref-palette-tertiary20: #4a2532;
  --md-ref-palette-tertiary22: #4f2936;
  --md-ref-palette-tertiary24: #542e3b;
  --md-ref-palette-tertiary30: #633b48;
  --md-ref-palette-tertiary40: #7e5260;
  --md-ref-palette-tertiary50: #996a78;
  --md-ref-palette-tertiary60: #b58392;
  --md-ref-palette-tertiary80: #efb8c8;
  --md-ref-palette-tertiary87: #ffcddb;
  --md-ref-palette-tertiary90: #ffd9e3;
  --md-ref-palette-tertiary92: #ffe1e8;
  --md-ref-palette-tertiary95: #ffecf0;
  --md-ref-palette-tertiary96: #fff0f2;
  --md-ref-palette-tertiary98: #fff8f8;
  --md-ref-palette-tertiary100: #ffffff;
  --md-ref-palette-neutral0: #000000;
  --md-ref-palette-neutral4: #0f0e11;
  --md-ref-palette-neutral6: #141316;
  --md-ref-palette-neutral10: #1c1b1e;
  --md-ref-palette-neutral12: #201f22;
  --md-ref-palette-neutral17: #2b292d;
  --md-ref-palette-neutral20: #313033;
  --md-ref-palette-neutral22: #363438;
  --md-ref-palette-neutral24: #3a383c;
  --md-ref-palette-neutral30: #48464a;
  --md-ref-palette-neutral40: #605d62;
  --md-ref-palette-neutral50: #79767a;
  --md-ref-palette-neutral60: #938f94;
  --md-ref-palette-neutral80: #cac5ca;
  --md-ref-palette-neutral87: #ddd8dd;
  --md-ref-palette-neutral90: #e6e1e6;
  --md-ref-palette-neutral92: #ece7eb;
  --md-ref-palette-neutral95: #f4eff4;
  --md-ref-palette-neutral96: #f7f2f7;
  --md-ref-palette-neutral98: #fdf8fd;
  --md-ref-palette-neutral100: #ffffff;
  --md-ref-palette-neutral-variant0: #000000;
  --md-ref-palette-neutral-variant4: #0f0d14;
  --md-ref-palette-neutral-variant6: #14121a;
  --md-ref-palette-neutral-variant10: #1d1a22;
  --md-ref-palette-neutral-variant12: #211e26;
  --md-ref-palette-neutral-variant17: #2b2931;
  --md-ref-palette-neutral-variant20: #322f37;
  --md-ref-palette-neutral-variant22: #36333c;
  --md-ref-palette-neutral-variant24: #3b3840;
  --md-ref-palette-neutral-variant30: #49454e;
  --md-ref-palette-neutral-variant40: #615d66;
  --md-ref-palette-neutral-variant50: #7a757f;
  --md-ref-palette-neutral-variant60: #948f99;
  --md-ref-palette-neutral-variant80: #cac4cf;
  --md-ref-palette-neutral-variant87: #ded8e3;
  --md-ref-palette-neutral-variant90: #e7e0eb;
  --md-ref-palette-neutral-variant92: #ece6f1;
  --md-ref-palette-neutral-variant95: #f5eefa;
  --md-ref-palette-neutral-variant96: #f8f1fd;
  --md-ref-palette-neutral-variant98: #fdf7ff;
  --md-ref-palette-neutral-variant100: #ffffff;
  --md-ref-palette-error0: #000000;
  --md-ref-palette-error4: #280001;
  --md-ref-palette-error6: #310001;
  --md-ref-palette-error10: #410002;
  --md-ref-palette-error12: #490002;
  --md-ref-palette-error17: #5c0004;
  --md-ref-palette-error20: #690005;
  --md-ref-palette-error22: #710005;
  --md-ref-palette-error24: #790006;
  --md-ref-palette-error30: #93000a;
  --md-ref-palette-error40: #ba1a1a;
  --md-ref-palette-error50: #de3730;
  --md-ref-palette-error60: #ff5449;
  --md-ref-palette-error80: #ffb4ab;
  --md-ref-palette-error87: #ffcfc9;
  --md-ref-palette-error90: #ffdad6;
  --md-ref-palette-error92: #ffe2de;
  --md-ref-palette-error95: #ffedea;
  --md-ref-palette-error96: #fff0ee;
  --md-ref-palette-error98: #fff8f7;
  --md-ref-palette-error100: #ffffff;
}