@import url(../tokens/components/standard-icon-button.css);
@import url(../tokens/components/filled-icon-button.css);

/* IconToggleButtonDefaults */
.IconToggleButton {
  --button-icon-color: var(
    --md-comp-standard-icon-button-unselected-icon-color
  );
  --button-disabled-icon-color: color-mix(
    in srgb,
    var(--md-comp-standard-icon-button-disabled-icon-color)
      var(--md-comp-standard-icon-button-disabled-icon-opacity),
    transparent
  );

  --button-container-size: var(--md-comp-standard-icon-button-container-size);
  --button-container-shape: var(--md-comp-standard-icon-button-container-shape);
  --button-icon-size: var(--md-comp-standard-icon-button-icon-size);
}
.IconToggleButton.filled {
  --button-container-color: var(
    --md-comp-filled-icon-button-unselected-container-color
  );
  --button-icon-color: var(--md-comp-filled-icon-button-unselected-icon-color);
  --button-disabled-container-color: color-mix(
    in srgb,
    var(--md-comp-filled-icon-button-disabled-container-color)
      var(--md-comp-filled-icon-button-disabled-container-opacity),
    transparent
  );
  --button-disabled-icon-color: color-mix(
    in srgb,
    var(--md-comp-filled-icon-button-disabled-icon-color)
      var(--md-comp-filled-icon-button-disabled-icon-opacity),
    transparent
  );

  --button-container-size: var(--md-comp-filled-icon-button-container-size);
  --button-container-shape: var(--md-comp-filled-icon-button-container-shape);
  --button-icon-size: var(--md-comp-filled-icon-button-icon-size);
}
.IconToggleButton.selected {
  --button-icon-color: var(--md-comp-standard-icon-button-selected-icon-color);
}
.IconToggleButton.filled.selected {
  --button-container-color: var(
    --md-comp-filled-icon-button-selected-container-color
  );
  --button-icon-color: var(--md-comp-filled-icon-button-selected-icon-color);
}

/* https://m3.material.io/components/icon-buttons/specs#545cdffc-4b0f-4f4e-ae55-98031586b209 */
.IconToggleButton {
  margin: 8px;
  width: var(--button-container-size);
  height: var(--button-container-size);
  border-radius: var(--button-container-shape);
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;

  border: none;
}
.IconToggleButton > .Icon {
  --icon-size: var(--button-icon-size);
}
.IconToggleButton:not(:disabled) {
  cursor: pointer;
}

.IconToggleButton {
  color: var(--button-icon-color);
  background-color: var(--button-container-color);
}

.IconToggleButton:disabled {
  background-color: var(--button-disabled-container-color);
  color: var(--button-disabled-icon-color);
}

.Button:focus {
  -webkit-tap-highlight-color: transparent;
  outline: none;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
