.IconButton {
  margin: 8px;
  width: var(--icon-button-enabled-container-size);
  height: var(--icon-button-enabled-container-size);
  border-radius: var(--icon-button-enabled-container-shape);
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;

  border: none;
}
.IconButton:not(.disabled) {
  cursor: pointer;
}
.IconButton > .Icon {
  --icon-size: var(--icon-button-enabled-icon-size);
}

.IconButton:not(.disabled) {
  color: var(
    --icon-button-enabled-default-icon-color,
    var(--icon-button-enabled-unselected-icon-color)
  );
  background-color: var(
    --icon-button-enabled-default-container-color,
    var(--icon-button-enabled-unselected-container-color)
  );
  outline: var(
      --icon-button-enabled-default-container-outline-color,
      var(--icon-button-enabled-unselected-container-outline-color)
    )
    solid
    var(
      --icon-button-enabled-default-container-outline-width,
      var(--icon-button-enabled-unselected-container-outline-width)
    );
}
.IconButton:not(.disabled) > .Icon {
  --icon-color: var(
    --icon-button-enabled-default-icon-color,
    var(--icon-button-enabled-unselected-icon-color)
  );
}

.IconButton.disabled {
  background-color: color-mix(
    in srgb,
    var(--icon-button-disabled-container-color)
      var(--icon-button-disabled-container-opacity),
    transparent
  );
  outline: color-mix(
      in srgb,
      var(--icon-button-disabled-container-outline-color)
        var(--icon-button-disabled-container-outline-opacity),
      transparent
    )
    solid
    var(
      --icon-button-enabled-default-container-outline-width,
      var(--icon-button-enabled-unselected-container-outline-width)
    );
}
.IconButton.disabled > .Icon {
  --icon-color: color-mix(
    in srgb,
    var(--icon-button-disabled-icon-color)
      var(--icon-button-disabled-icon-opacity),
    transparent
  );
}

.IconButton > .Ripple {
  --ripple-hovered-color: var(
    --icon-button-hovered-default-state-layer-color,
    var(--icon-button-hovered-unselected-state-layer-color)
  );
  --ripple-hovered-opacity: var(
    --icon-button-hovered-state-layer-opacity,
    var(--icon-button-hovered-state-layer-opacity)
  );
  --ripple-pressed-color: var(
    --icon-button-pressed-default-state-layer-color,
    var(--icon-button-pressed-unselected-state-layer-color)
  );
  --ripple-pressed-opacity: var(
    --icon-button-pressed-state-layer-opacity,
    var(--icon-button-pressed-state-layer-opacity)
  );
}

.IconButton {
  user-select: none;
}
.IconButton:focus {
  -webkit-tap-highlight-color: transparent;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
