.PlainTooltipBox {
  position: relative;
}

.PlainTooltip {
  position: absolute;
  top: -8px;
  left: 50%;
  transform: translate(-50%, -100%);
  background-color: var(--plain-tooltip-container-color);
  min-height: 24px;
  padding-inline: 8px;
  border-radius: var(--plain-tooltip-container-shape);
  color: var(--plain-tooltip-supporting-text-color);
  font-family: var(--plain-tooltip-supporting-text-font);
  line-height: var(--plain-tooltip-supporting-text-line-height);
  font-size: var(--plain-tooltip-supporting-text-size);
  font-weight: var(--plain-tooltip-supporting-text-weight);
  letter-spacing: var(--plain-tooltip-supporting-text-tracking);
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: help;
  user-select: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 150ms 1500ms, visibility 0s 1650ms;
}

.PlainTooltipBox:hover > .PlainTooltip,
.PlainTooltip:hover {
  opacity: 1;
  visibility: visible;
  transition: opacity 150ms 1500ms, visibility 0s 1500ms;
}

.TopAppBar .PlainTooltip {
  bottom: -8px;
  left: 50%;
  transform: translate(-50%, 100%);
  top: unset;
}
