.RadioButton {
  width: var(--radio-button-enabled-icon-state-layer-size);
  height: var(--radio-button-enabled-icon-state-layer-size);
  border-radius: 50%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;

  border: none;
}
.RadioButton:not(.disabled) {
  cursor: pointer;
}

.RadioButton > .Icon {
  --icon-size: var(--radio-button-enabled-icon-size);
}

.RadioButton > input[type='radio'] {
  position: absolute;
  width: 20px;
  height: 20px;
  margin: 0;
  opacity: 0;
}

.RadioButton:not(.disabled):not(.selected) > .Icon {
  --icon-color: var(--radio-button-enabled-unselected-icon-color);
}
.RadioButton:not(.disabled).selected > .Icon {
  --icon-color: var(--radio-button-enabled-selected-icon-color);
}
.RadioButton:not(.disabled):hover:not(.selected) > .Icon {
  --icon-color: var(--radio-button-hovered-unselected-icon-color);
}
.RadioButton:not(.disabled):hover.selected > .Icon {
  --icon-color: var(--radio-button-hovered-selected-icon-color);
}
.RadioButton:not(.disabled):focus:not(.selected) > .Icon {
  --icon-color: var(--radio-button-focused-unselected-icon-color);
}
.RadioButton:not(.disabled):focus.selected > .Icon {
  --icon-color: var(--radio-button-focused-selected-icon-color);
}
.RadioButton:not(.disabled):active:not(.selected) > .Icon {
  --icon-color: var(--radio-button-pressed-unselected-icon-color);
}
.RadioButton:not(.disabled):active.selected > .Icon {
  --icon-color: var(--radio-button-pressed-selected-icon-color);
}

.RadioButton.disabled:not(.selected) > .Icon {
  --icon-color: color-mix(
    in srgb,
    var(--radio-button-disabled-unselected-icon-color)
      var(--radio-button-disabled-unselected-icon-opacity),
    transparent
  );
}
.RadioButton.disabled.selected > .Icon {
  --icon-color: color-mix(
    in srgb,
    var(--radio-button-disabled-selected-icon-color)
      var(--radio-button-disabled-selected-icon-opacity),
    transparent
  );
}

.RadioButton:not(.selected) > .Ripple {
  --ripple-hovered-color: var(
    --radio-button-hovered-unselected-icon-state-layer-color
  );
  --ripple-hovered-opacity: var(
    --radio-button-hovered-unselected-icon-state-layer-opacity
  );
  --ripple-pressed-color: var(
    --radio-button-pressed-unselected-icon-state-layer-color
  );
  --ripple-pressed-opacity: var(
    --radio-button-pressed-unselected-icon-state-layer-opacity
  );
}
.RadioButton.selected > .Ripple {
  --ripple-hovered-color: var(
    --radio-button-hovered-selected-icon-state-layer-color
  );
  --ripple-hovered-opacity: var(
    --radio-button-hovered-selected-icon-state-layer-opacity
  );
  --ripple-pressed-color: var(
    --radio-button-pressed-selected-icon-state-layer-color
  );
  --ripple-pressed-opacity: var(
    --radio-button-pressed-selected-icon-state-layer-opacity
  );
}

.RadioButton {
  user-select: none;
}
.RadioButton:focus {
  -webkit-tap-highlight-color: transparent;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
