.RichTooltipBox {
  position: relative;
}

.RichTooltip {
  position: absolute;
  bottom: -4px;
  right: -4px;
  transform: translate(100%, 100%);
  background-color: var(--rich-tooltip-container-color);
  width: 300px;
  padding: 12px 16px 8px 16px;
  border-radius: var(--rich-tooltip-container-shape);
  cursor: help;
  user-select: none;
  opacity: 0;
  visibility: hidden;
}

.RichTooltipSubhead {
  color: var(--rich-tooltip-subhead-color);
  font-family: var(--rich-tooltip-subhead-font);
  line-height: var(--rich-tooltip-subhead-line-height);
  font-size: var(--rich-tooltip-subhead-size);
  letter-spacing: var(--rich-tooltip-subhead-tracking);
  font-weight: var(--rich-tooltip-subhead-weight);

  padding-bottom: 4px;
}

.RichTooltipSupportingText {
  color: var(--rich-tooltip-supporting-text-color);
  font-family: var(--rich-tooltip-supporting-text-font);
  line-height: var(--rich-tooltip-supporting-text-line-height);
  font-size: var(--rich-tooltip-supporting-text-size);
  letter-spacing: var(--rich-tooltip-supporting-text-tracking);
  font-weight: var(--rich-tooltip-supporting-text-weight);
}

.RichTooltipActions {
  display: flex;
  gap: 16px;
  padding-top: 12px;
}

.RichTooltip:not(.persistent) {
  transition: opacity 150ms 1500ms, visibility 0s 1650ms;
}
.RichTooltip.persistent {
  transition: opacity 150ms, visibility 0s 150ms;
}
.RichTooltipBox:hover > .RichTooltip:not(.persistent),
.RichTooltip:not(.persistent):hover {
  transition: opacity 150ms 1500ms, visibility 0s 1500ms;
}
.RichTooltip.persistent.visible {
  transition: opacity 150ms, visibility 0s 0s;
}

.RichTooltipBox:hover > .RichTooltip:not(.persistent),
.RichTooltip:not(.persistent):hover,
.RichTooltip.persistent.visible {
  opacity: 1;
  visibility: visible;
}
