.Switch {
  width: 52px;
  height: 32px;
  border-radius: 16px;
  position: relative;
  box-sizing: border-box;
}

.Switch:not(.disabled) {
  cursor: pointer;
}

.Switch.selected {
  background-color: var(--switch-enabled-selected-track-color);
  border: 2px solid transparent;
}
.Switch:not(.selected) {
  background-color: var(--switch-enabled-unselected-track-color);
  border: 2px solid var(--switch-enabled-unselected-track-outline-color);
}
.Switch.selected.disabled {
  background-color: color-mix(
    in srgb,
    var(--switch-disabled-selected-track-color)
      var(--switch-disabled-track-opacity),
    transparent
  );
  border: 2px solid transparent;
}
.Switch:not(.selected).disabled {
  background-color: color-mix(
    in srgb,
    var(--switch-disabled-unselected-track-color)
      var(--switch-disabled-track-opacity),
    transparent
  );
  border: 2px solid
    color-mix(
      in srgb,
      var(--switch-disabled-unselected-track-outline-color)
        var(--switch-disabled-track-opacity),
      transparent
    );
}

.Switch > .SwitchThumb {
  position: absolute;
}

.Switch.selected > .SwitchThumb {
  animation: 500ms switchOn;

  right: 0;
  width: 24px;
  height: 24px;
  border-radius: 12px;
  margin: 2px;
  --switch-selected-icon-opacity: 1;
  --switch-unselected-icon-opacity: 0;

  background-color: var(--switch-enabled-selected-thumb-color);
}
.Switch.selected.disabled > .SwitchThumb {
  background-color: color-mix(
    in srgb,
    var(--switch-disabled-selected-thumb-color)
      var(--switch-disabled-selected-thumb-opacity),
    transparent
  );
}
.Switch.selected > .SwitchThumb .Icon {
  --icon-color: var(--switch-enabled-selected-icon-color);
}
.Switch.selected.disabled > .SwitchThumb .Icon {
  --icon-color: color-mix(
    in srgb,
    var(--switch-disabled-selected-icon-color)
      var(--switch-disabled-selected-icon-opacity),
    transparent
  );
}
.Switch:not(.selected) > .SwitchThumb {
  animation: 500ms switchOff;

  right: 20px;
  width: var(--switch-off-width);
  height: var(--switch-off-height);
  border-radius: var(--switch-off-border-radius);
  margin: var(--switch-off-margin);
  --switch-selected-icon-opacity: 0;
  --switch-unselected-icon-opacity: 1;

  background-color: var(--switch-enabled-unselected-thumb-color);
}
.Switch:not(.selected).disabled > .SwitchThumb {
  background-color: color-mix(
    in srgb,
    var(--switch-disabled-unselected-thumb-color)
      var(--switch-disabled-unselected-thumb-opacity),
    transparent
  );
}
.Switch:not(.selected) > .SwitchThumb .Icon {
  --icon-color: var(--switch-enabled-unselected-icon-color);
}
.Switch:not(.selected).disabled > .SwitchThumb .Icon {
  --icon-color: color-mix(
    in srgb,
    var(--switch-disabled-unselected-icon-color)
      var(--switch-disabled-unselected-icon-opacity),
    transparent
  );
}

.Switch > .SwitchThumb:not(:has(> .SwitchUnselectedIcon)) {
  --switch-off-width: 16px;
  --switch-off-height: 16px;
  --switch-off-border-radius: 8px;
  --switch-off-margin: 6px;
}
.Switch > .SwitchThumb:has(> .SwitchUnselectedIcon) {
  --switch-off-width: 24px;
  --switch-off-height: 24px;
  --switch-off-border-radius: 12px;
  --switch-off-margin: 2px;
}

.Switch > .SwitchThumb > .SwitchSelectedIcon,
.Switch > .SwitchThumb > .SwitchUnselectedIcon {
  position: absolute;
  display: flex;
  align-items: center;
}
.Switch > .SwitchThumb > .SwitchSelectedIcon {
  opacity: var(--switch-selected-icon-opacity);
}
.Switch > .SwitchThumb > .SwitchUnselectedIcon {
  opacity: var(--switch-unselected-icon-opacity);
}

@property --switch-selected-icon-opacity {
  syntax: '<number>';
  inherits: true;
  initial-value: 0;
}
@property --switch-unselected-icon-opacity {
  syntax: '<number>';
  inherits: true;
  initial-value: 1;
}

@keyframes switchOn {
  0% {
    right: 20px;
    width: var(--switch-off-width);
    height: var(--switch-off-height);
    border-radius: var(--switch-off-border-radius);
    margin: var(--switch-off-margin);
    --switch-selected-icon-opacity: 0;
    --switch-unselected-icon-opacity: 1;
  }
  20% {
    right: 20px;
    width: 28px;
    height: 28px;
    border-radius: 16px;
    margin: 0;
  }
  50% {
    --switch-selected-icon-opacity: 0;
    --switch-unselected-icon-opacity: 0;
  }
  80% {
    right: 0;
    width: 28px;
    height: 28px;
    border-radius: 16px;
    margin: 0;
  }
  100% {
    right: 0;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    margin: 2px;
    --switch-selected-icon-opacity: 1;
    --switch-unselected-icon-opacity: 0;
  }
}
@keyframes switchOff {
  0% {
    right: 0;
    width: 24px;
    height: 24px;
    border-radius: 12px;
    margin: 2px;
    --switch-selected-icon-opacity: 1;
    --switch-unselected-icon-opacity: 0;
  }
  20% {
    right: 0;
    width: 28px;
    height: 28px;
    border-radius: 16px;
    margin: 0;
  }
  50% {
    --switch-selected-icon-opacity: 0;
    --switch-unselected-icon-opacity: 0;
  }
  80% {
    right: 20px;
    width: 28px;
    height: 28px;
    border-radius: 16px;
    margin: 0;
  }
  100% {
    right: 20px;
    width: var(--switch-off-width);
    height: var(--switch-off-height);
    border-radius: var(--switch-off-border-radius);
    margin: var(--switch-off-margin);
    --switch-selected-icon-opacity: 0;
    --switch-unselected-icon-opacity: 1;
  }
}

.Switch > .SwitchThumb {
  display: flex;
  justify-content: center;
  align-items: center;
}

.Switch > input[type='checkbox'] {
  position: absolute;
  opacity: 0;
}

.Switch > .SwitchThumb .Icon {
  --icon-size: 16px;
}

.Switch:not(.disabled):not(.selected):hover {
  background-color: var(--switch-hovered-unselected-track-color);
  border: 2px solid var(--switch-hovered-unselected-track-outline-color);
}
.Switch:not(.disabled).selected:hover {
  background-color: var(--switch-hovered-selected-track-color);
}
.Switch:not(.disabled):not(.selected):active {
  background-color: var(--switch-pressed-unselected-track-color);
  border: 2px solid var(--switch-pressed-unselected-track-outline-color);
}
.Switch:not(.disabled).selected:active {
  background-color: var(--switch-pressed-selected-track-color);
}

.Switch:not(.disabled):not(.selected):hover > .SwitchThumb .Icon {
  --icon-color: var(--switch-hovered-unselected-icon-color);
}
.Switch:not(.disabled).selected:hover > .SwitchThumb .Icon {
  --icon-color: var(--switch-hovered-selected-icon-color);
}
.Switch:not(.disabled):not(.selected):active > .SwitchThumb .Icon {
  --icon-color: var(--switch-pressed-unselected-icon-color);
}
.Switch:not(.disabled).selected:active > .SwitchThumb .Icon {
  --icon-color: var(--switch-pressed-selected-icon-color);
}

.Switch:not(.disabled):not(.selected):hover > .SwitchThumb {
  background-color: var(--switch-hovered-unselected-thumb-color);
}
.Switch:not(.disabled).selected:hover > .SwitchThumb {
  background-color: var(--switch-hovered-selected-thumb-color);
}
.Switch:not(.disabled):not(.selected):active > .SwitchThumb {
  background-color: var(--switch-pressed-unselected-thumb-color);
}
.Switch:not(.disabled).selected:active > .SwitchThumb {
  background-color: var(--switch-pressed-selected-thumb-color);
}

.Switch > .SwitchThumb > .Ripple {
  width: 40px;
  height: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
}
.Switch:not(.selected) > .SwitchThumb > .Ripple {
  --ripple-hovered-color: var(
    --switch-hovered-unselected-track-state-layer-color
  );
  --ripple-hovered-opacity: var(
    --switch-hovered-unselected-track-state-layer-opacity
  );
  --ripple-pressed-color: var(
    --switch-pressed-unselected-track-state-layer-color
  );
  --ripple-pressed-opacity: var(
    --switch-pressed-unselected-track-state-layer-opacity
  );
}
.Switch.selected > .SwitchThumb > .Ripple {
  --ripple-hovered-color: var(
    --switch-hovered-selected-track-state-layer-color
  );
  --ripple-hovered-opacity: var(
    --switch-hovered-selected-track-state-layer-opacity
  );
  --ripple-pressed-color: var(
    --switch-pressed-selected-track-state-layer-color
  );
  --ripple-pressed-opacity: var(
    --switch-pressed-selected-track-state-layer-opacity
  );
}

:is(.Switch, .Switch *) {
  user-select: none;
}
:is(.Switch, .Switch *):focus {
  -webkit-tap-highlight-color: transparent;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}
