/* prettier-ignore */
.Checkbox, .Checkbox * {
  --checkbox-enabled-container-width: var(--md-comp-checkbox-enabled-container-width);
  --checkbox-enabled-container-height: var(--md-comp-checkbox-enabled-container-height);
  --checkbox-enabled-container-shape: var(--md-comp-checkbox-enabled-container-shape);
  --checkbox-enabled-unselected-container-outline-color: var(--md-comp-checkbox-enabled-unselected-container-outline-color);
  --checkbox-enabled-unselected-container-outline-width: var(--md-comp-checkbox-enabled-unselected-container-outline-width);
  --checkbox-enabled-selected-container-color: var(--md-comp-checkbox-enabled-selected-container-color);
  --checkbox-enabled-selected-container-outline-width: var(--md-comp-checkbox-enabled-selected-container-outline-width);
  --checkbox-enabled-icon-size: var(--md-comp-checkbox-enabled-icon-size);
  --checkbox-enabled-selected-icon-color: var(--md-comp-checkbox-enabled-selected-icon-color);
  --checkbox-error-enabled-unselected-container-outline-color: var(--md-comp-checkbox-error-enabled-unselected-container-outline-color);
  --checkbox-error-enabled-selected-container-color: var(--md-comp-checkbox-error-enabled-selected-container-color);
  --checkbox-error-enabled-selected-icon-color: var(--md-comp-checkbox-error-enabled-selected-icon-color);
  --checkbox-enabled-state-layer-size: var(--md-comp-checkbox-enabled-state-layer-size);
  --checkbox-enabled-state-layer-shape: var(--md-comp-checkbox-enabled-state-layer-shape);
  --checkbox-disabled-unselected-container-outline-color: var(--md-comp-checkbox-disabled-unselected-container-outline-color);
  --checkbox-disabled-unselected-container-outline-width: var(--md-comp-checkbox-disabled-unselected-container-outline-width);
  --checkbox-disabled-unselected-container-opacity: var(--md-comp-checkbox-disabled-unselected-container-opacity);
  --checkbox-disabled-selected-container-color: var(--md-comp-checkbox-disabled-selected-container-color);
  --checkbox-disabled-selected-container-opacity: var(--md-comp-checkbox-disabled-selected-container-opacity);
  --checkbox-disabled-selected-container-outline-width: var(--md-comp-checkbox-disabled-selected-container-outline-width);
  --checkbox-disabled-selected-icon-color: var(--md-comp-checkbox-disabled-selected-icon-color);
  --checkbox-hovered-selected-state-layer-color: var(--md-comp-checkbox-hovered-selected-state-layer-color);
  --checkbox-hovered-selected-state-layer-opacity: var(--md-comp-checkbox-hovered-selected-state-layer-opacity);
  --checkbox-hovered-unselected-state-layer-color: var(--md-comp-checkbox-hovered-unselected-state-layer-color);
  --checkbox-hovered-unselected-state-layer-opacity: var(--md-comp-checkbox-hovered-unselected-state-layer-opacity);
  --checkbox-hovered-unselected-container-outline-color: var(--md-comp-checkbox-hovered-unselected-container-outline-color);
  --checkbox-hovered-unselected-container-outline-width: var(--md-comp-checkbox-hovered-unselected-container-outline-width);
  --checkbox-hovered-selected-container-color: var(--md-comp-checkbox-hovered-selected-container-color);
  --checkbox-hovered-selected-container-outline-width: var(--md-comp-checkbox-hovered-selected-container-outline-width);
  --checkbox-hovered-selected-icon-color: var(--md-comp-checkbox-hovered-selected-icon-color);
  --checkbox-error-hovered-state-layer-color: var(--md-comp-checkbox-error-hovered-state-layer-color);
  --checkbox-error-hovered-state-layer-opacity: var(--md-comp-checkbox-error-hovered-state-layer-opacity);
  --checkbox-error-hovered-unselected-container-outline-color: var(--md-comp-checkbox-error-hovered-unselected-container-outline-color);
  --checkbox-error-hovered-unselected-container-outline-width: var(--md-comp-checkbox-error-hovered-unselected-container-outline-width);
  --checkbox-error-hovered-selected-container-color: var(--md-comp-checkbox-error-hovered-selected-container-color);
  --checkbox-error-hovered-selected-container-outline-width: var(--md-comp-checkbox-error-hovered-selected-container-outline-width);
  --checkbox-error-hovered-selected-icon-color: var(--md-comp-checkbox-error-hovered-selected-icon-color);
  --checkbox-focused-state-layer-color: var(--md-comp-checkbox-focused-state-layer-color);
  --checkbox-focused-state-layer-opacity: var(--md-comp-checkbox-focused-state-layer-opacity);
  --checkbox-focused-unselected-state-layer-color: var(--md-comp-checkbox-focused-unselected-state-layer-color);
  --checkbox-focused-unselected-state-layer-opacity: var(--md-comp-checkbox-focused-unselected-state-layer-opacity);
  --checkbox-focused-unselected-container-outline-color: var(--md-comp-checkbox-focused-unselected-container-outline-color);
  --checkbox-focused-unselected-container-outline-width: var(--md-comp-checkbox-focused-unselected-container-outline-width);
  --checkbox-focused-selected-container-color: var(--md-comp-checkbox-focused-selected-container-color);
  --checkbox-focused-selected-container-outline-width: var(--md-comp-checkbox-focused-selected-container-outline-width);
  --checkbox-focused-selected-icon-color: var(--md-comp-checkbox-focused-selected-icon-color);
  --checkbox-error-focused-state-layer-color: var(--md-comp-checkbox-error-focused-state-layer-color);
  --checkbox-error-focused-unselected-container-outline-color: var(--md-comp-checkbox-error-focused-unselected-container-outline-color);
  --checkbox-error-focused-unselected-container-outline-width: var(--md-comp-checkbox-error-focused-unselected-container-outline-width);
  --checkbox-error-focused-selected-container-color: var(--md-comp-checkbox-error-focused-selected-container-color);
  --checkbox-error-focused-selected-container-outline-width: var(--md-comp-checkbox-error-focused-selected-container-outline-width);
  --checkbox-error-focused-selected-icon-color: var(--md-comp-checkbox-error-focused-selected-icon-color);
  --checkbox-pressed-unselected-state-layer-color: var(--md-comp-checkbox-pressed-unselected-state-layer-color);
  --checkbox-pressed-unselected-state-layer-opacity: var(--md-comp-checkbox-pressed-unselected-state-layer-opacity);
  --checkbox-pressed-unselected-container-outline-color: var(--md-comp-checkbox-pressed-unselected-container-outline-color);
  --checkbox-pressed-unselected-container-outline-width: var(--md-comp-checkbox-pressed-unselected-container-outline-width);
  --checkbox-pressed-selected-state-layer-color: var(--md-comp-checkbox-pressed-selected-state-layer-color);
  --checkbox-pressed-selected-state-layer-opacity: var(--md-comp-checkbox-pressed-selected-state-layer-opacity);
  --checkbox-pressed-selected-container-color: var(--md-comp-checkbox-pressed-selected-container-color);
  --checkbox-pressed-selected-container-outline-width: var(--md-comp-checkbox-pressed-selected-container-outline-width);
  --checkbox-pressed-selected-icon-color: var(--md-comp-checkbox-pressed-selected-icon-color);
  --checkbox-error-pressed-state-layer-color: var(--md-comp-checkbox-error-pressed-state-layer-color);
  --checkbox-error-pressed-state-layer-opacity: var(--md-comp-checkbox-error-pressed-state-layer-opacity);
  --checkbox-error-pressed-unselected-container-outline-color: var(--md-comp-checkbox-error-pressed-unselected-container-outline-color);
  --checkbox-error-pressed-unselected-container-outline-width: var(--md-comp-checkbox-error-pressed-unselected-container-outline-width);
  --checkbox-error-pressed-selected-container-color: var(--md-comp-checkbox-error-pressed-selected-container-color);
  --checkbox-error-pressed-selected-container-outline-width: var(--md-comp-checkbox-error-pressed-selected-container-outline-width);
  --checkbox-error-pressed-selected-icon-color: var(--md-comp-checkbox-error-pressed-selected-icon-color);
}