/* prettier-ignore */
:is(.IconButton, .IconToggleButton).Filled, :is(.IconButton, .IconToggleButton).Filled * {
  --icon-button-enabled-icon-size: var(--md-comp-icon-button-filled-enabled-icon-size);
  --icon-button-enabled-default-icon-color: var(--md-comp-icon-button-filled-enabled-default-icon-color);
  --icon-button-enabled-unselected-icon-color: var(--md-comp-icon-button-filled-enabled-unselected-icon-color);
  --icon-button-enabled-selected-icon-color: var(--md-comp-icon-button-filled-enabled-selected-icon-color);
  --icon-button-enabled-container-size: var(--md-comp-icon-button-filled-enabled-container-size);
  --icon-button-enabled-container-shape: var(--md-comp-icon-button-filled-enabled-container-shape);
  --icon-button-enabled-default-container-color: var(--md-comp-icon-button-filled-enabled-default-container-color);
  --icon-button-enabled-unselected-container-color: var(--md-comp-icon-button-filled-enabled-unselected-container-color);
  --icon-button-enabled-selected-container-color: var(--md-comp-icon-button-filled-enabled-selected-container-color);
  --icon-button-disabled-icon-color: var(--md-comp-icon-button-filled-disabled-icon-color);
  --icon-button-disabled-icon-opacity: var(--md-comp-icon-button-filled-disabled-icon-opacity);
  --icon-button-disabled-container-color: var(--md-comp-icon-button-filled-disabled-container-color);
  --icon-button-disabled-container-opacity: var(--md-comp-icon-button-filled-disabled-container-opacity);
  --icon-button-hovered-state-layer-opacity: var(--md-comp-icon-button-filled-hovered-state-layer-opacity);
  --icon-button-hovered-default-state-layer-color: var(--md-comp-icon-button-filled-hovered-default-state-layer-color);
  --icon-button-hovered-unselected-state-layer-color: var(--md-comp-icon-button-filled-hovered-unselected-state-layer-color);
  --icon-button-hovered-selected-state-layer-color: var(--md-comp-icon-button-filled-hovered-selected-state-layer-color);
  --icon-button-hovered-default-icon-color: var(--md-comp-icon-button-filled-hovered-default-icon-color);
  --icon-button-hovered-unselected-icon-color: var(--md-comp-icon-button-filled-hovered-unselected-icon-color);
  --icon-button-hovered-selected-icon-color: var(--md-comp-icon-button-filled-hovered-selected-icon-color);
  --icon-button-focused-state-layer-opacity: var(--md-comp-icon-button-filled-focused-state-layer-opacity);
  --icon-button-focused-default-state-layer-color: var(--md-comp-icon-button-filled-focused-default-state-layer-color);
  --icon-button-focused-unselected-state-layer-color: var(--md-comp-icon-button-filled-focused-unselected-state-layer-color);
  --icon-button-focused-selected-state-layer-color: var(--md-comp-icon-button-filled-focused-selected-state-layer-color);
  --icon-button-focused-default-icon-color: var(--md-comp-icon-button-filled-focused-default-icon-color);
  --icon-button-focused-unselected-icon-color: var(--md-comp-icon-button-filled-focused-unselected-icon-color);
  --icon-button-focused-selected-icon-color: var(--md-comp-icon-button-filled-focused-selected-icon-color);
  --icon-button-pressed-state-layer-opacity: var(--md-comp-icon-button-filled-pressed-state-layer-opacity);
  --icon-button-pressed-default-state-layer-color: var(--md-comp-icon-button-filled-pressed-default-state-layer-color);
  --icon-button-pressed-unselected-state-layer-color: var(--md-comp-icon-button-filled-pressed-unselected-state-layer-color);
  --icon-button-pressed-selected-state-layer-color: var(--md-comp-icon-button-filled-pressed-selected-state-layer-color);
  --icon-button-pressed-default-icon-color: var(--md-comp-icon-button-filled-pressed-default-icon-color);
  --icon-button-pressed-unselected-icon-color: var(--md-comp-icon-button-filled-pressed-unselected-icon-color);
  --icon-button-pressed-selected-icon-color: var(--md-comp-icon-button-filled-pressed-selected-icon-color);
}
/* prettier-ignore */
:is(.IconButton, .IconToggleButton).Tonal, :is(.IconButton, .IconToggleButton).Tonal * {
  --icon-button-enabled-icon-size: var(--md-comp-icon-button-tonal-enabled-icon-size);
  --icon-button-enabled-default-icon-color: var(--md-comp-icon-button-tonal-enabled-default-icon-color);
  --icon-button-enabled-unselected-icon-color: var(--md-comp-icon-button-tonal-enabled-unselected-icon-color);
  --icon-button-enabled-selected-icon-color: var(--md-comp-icon-button-tonal-enabled-selected-icon-color);
  --icon-button-enabled-container-size: var(--md-comp-icon-button-tonal-enabled-container-size);
  --icon-button-enabled-container-shape: var(--md-comp-icon-button-tonal-enabled-container-shape);
  --icon-button-enabled-default-container-color: var(--md-comp-icon-button-tonal-enabled-default-container-color);
  --icon-button-enabled-unselected-container-color: var(--md-comp-icon-button-tonal-enabled-unselected-container-color);
  --icon-button-enabled-selected-container-color: var(--md-comp-icon-button-tonal-enabled-selected-container-color);
  --icon-button-disabled-icon-color: var(--md-comp-icon-button-tonal-disabled-icon-color);
  --icon-button-disabled-icon-opacity: var(--md-comp-icon-button-tonal-disabled-icon-opacity);
  --icon-button-disabled-container-color: var(--md-comp-icon-button-tonal-disabled-container-color);
  --icon-button-disabled-container-opacity: var(--md-comp-icon-button-tonal-disabled-container-opacity);
  --icon-button-hovered-default-state-layer-color: var(--md-comp-icon-button-tonal-hovered-default-state-layer-color);
  --icon-button-hovered-unselected-state-layer-color: var(--md-comp-icon-button-tonal-hovered-unselected-state-layer-color);
  --icon-button-hovered-selected-state-layer-color: var(--md-comp-icon-button-tonal-hovered-selected-state-layer-color);
  --icon-button-hovered-state-layer-opacity: var(--md-comp-icon-button-tonal-hovered-state-layer-opacity);
  --icon-button-hovered-default-icon-color: var(--md-comp-icon-button-tonal-hovered-default-icon-color);
  --icon-button-hovered-unselected-icon-color: var(--md-comp-icon-button-tonal-hovered-unselected-icon-color);
  --icon-button-hovered-selected-icon-color: var(--md-comp-icon-button-tonal-hovered-selected-icon-color);
  --icon-button-focused-state-layer-opacity: var(--md-comp-icon-button-tonal-focused-state-layer-opacity);
  --icon-button-focused-default-state-layer-color: var(--md-comp-icon-button-tonal-focused-default-state-layer-color);
  --icon-button-focused-unselected-state-layer-color: var(--md-comp-icon-button-tonal-focused-unselected-state-layer-color);
  --icon-button-focused-selected-state-layer-color: var(--md-comp-icon-button-tonal-focused-selected-state-layer-color);
  --icon-button-focused-default-icon-color: var(--md-comp-icon-button-tonal-focused-default-icon-color);
  --icon-button-focused-unselected-icon-color: var(--md-comp-icon-button-tonal-focused-unselected-icon-color);
  --icon-button-focused-selected-icon-color: var(--md-comp-icon-button-tonal-focused-selected-icon-color);
  --icon-button-pressed-state-layer-opacity: var(--md-comp-icon-button-tonal-pressed-state-layer-opacity);
  --icon-button-pressed-default-state-layer-color: var(--md-comp-icon-button-tonal-pressed-default-state-layer-color);
  --icon-button-pressed-unselected-state-layer-color: var(--md-comp-icon-button-tonal-pressed-unselected-state-layer-color);
  --icon-button-pressed-selected-state-layer-color: var(--md-comp-icon-button-tonal-pressed-selected-state-layer-color);
  --icon-button-pressed-default-icon-color: var(--md-comp-icon-button-tonal-pressed-default-icon-color);
  --icon-button-pressed-unselected-icon-color: var(--md-comp-icon-button-tonal-pressed-unselected-icon-color);
  --icon-button-pressed-selected-icon-color: var(--md-comp-icon-button-tonal-pressed-selected-icon-color);
}
/* prettier-ignore */
:is(.IconButton, .IconToggleButton).Outlined, :is(.IconButton, .IconToggleButton).Outlined * {
  --icon-button-enabled-icon-size: var(--md-comp-icon-button-outlined-enabled-icon-size);
  --icon-button-enabled-unselected-icon-color: var(--md-comp-icon-button-outlined-enabled-unselected-icon-color);
  --icon-button-enabled-selected-icon-color: var(--md-comp-icon-button-outlined-enabled-selected-icon-color);
  --icon-button-enabled-unselected-container-outline-color: var(--md-comp-icon-button-outlined-enabled-unselected-container-outline-color);
  --icon-button-enabled-unselected-container-outline-width: var(--md-comp-icon-button-outlined-enabled-unselected-container-outline-width);
  --icon-button-enabled-container-shape: var(--md-comp-icon-button-outlined-enabled-container-shape);
  --icon-button-enabled-container-size: var(--md-comp-icon-button-outlined-enabled-container-size);
  --icon-button-enabled-selected-container-color: var(--md-comp-icon-button-outlined-enabled-selected-container-color);
  --icon-button-disabled-icon-color: var(--md-comp-icon-button-outlined-disabled-icon-color);
  --icon-button-disabled-icon-opacity: var(--md-comp-icon-button-outlined-disabled-icon-opacity);
  --icon-button-disabled-container-outline-color: var(--md-comp-icon-button-outlined-disabled-container-outline-color);
  --icon-button-disabled-container-outline-opacity: var(--md-comp-icon-button-outlined-disabled-container-outline-opacity);
  --icon-button-hovered-state-layer-opacity: var(--md-comp-icon-button-outlined-hovered-state-layer-opacity);
  --icon-button-hovered-unselected-state-layer-color: var(--md-comp-icon-button-outlined-hovered-unselected-state-layer-color);
  --icon-button-hovered-selected-state-layer-color: var(--md-comp-icon-button-outlined-hovered-selected-state-layer-color);
  --icon-button-hovered-unselected-icon-color: var(--md-comp-icon-button-outlined-hovered-unselected-icon-color);
  --icon-button-hovered-selected-icon-color: var(--md-comp-icon-button-outlined-hovered-selected-icon-color);
  --icon-button-focused-state-layer-opacity: var(--md-comp-icon-button-outlined-focused-state-layer-opacity);
  --icon-button-focused-unselected-state-layer-color: var(--md-comp-icon-button-outlined-focused-unselected-state-layer-color);
  --icon-button-focused-selected-state-layer-color: var(--md-comp-icon-button-outlined-focused-selected-state-layer-color);
  --icon-button-focused-unselected-icon-color: var(--md-comp-icon-button-outlined-focused-unselected-icon-color);
  --icon-button-focused-selected-icon-color: var(--md-comp-icon-button-outlined-focused-selected-icon-color);
  --icon-button-pressed-state-layer-opacity: var(--md-comp-icon-button-outlined-pressed-state-layer-opacity);
  --icon-button-pressed-unselected-state-layer-color: var(--md-comp-icon-button-outlined-pressed-unselected-state-layer-color);
  --icon-button-pressed-selected-state-layer-color: var(--md-comp-icon-button-outlined-pressed-selected-state-layer-color);
  --icon-button-pressed-unselected-icon-color: var(--md-comp-icon-button-outlined-pressed-unselected-icon-color);
  --icon-button-pressed-selected-icon-color: var(--md-comp-icon-button-outlined-pressed-selected-icon-color);
}
/* prettier-ignore */
:is(.IconButton, .IconToggleButton).Standard, :is(.IconButton, .IconToggleButton).Standard * {
  --icon-button-enabled-icon-size: var(--md-comp-icon-button-standard-enabled-icon-size);
  --icon-button-enabled-unselected-icon-color: var(--md-comp-icon-button-standard-enabled-unselected-icon-color);
  --icon-button-enabled-selected-icon-color: var(--md-comp-icon-button-standard-enabled-selected-icon-color);
  --icon-button-enabled-state-layer-size: var(--md-comp-icon-button-standard-enabled-state-layer-size);
  --icon-button-enabled-state-layer-shape: var(--md-comp-icon-button-standard-enabled-state-layer-shape);
  --icon-button-disabled-icon-color: var(--md-comp-icon-button-standard-disabled-icon-color);
  --icon-button-disabled-icon-opacity: var(--md-comp-icon-button-standard-disabled-icon-opacity);
  --icon-button-hovered-unselected-state-layer-color: var(--md-comp-icon-button-standard-hovered-unselected-state-layer-color);
  --icon-button-hovered-unselected-state-layer-color: var(--md-comp-icon-button-standard-hovered-unselected-state-layer-color);
  --icon-button-hovered-unselected-icon-color: var(--md-comp-icon-button-standard-hovered-unselected-icon-color);
  --icon-button-hovered-selected-state-layer-color: var(--md-comp-icon-button-standard-hovered-selected-state-layer-color);
  --icon-button-hovered-selected-state-layer-color: var(--md-comp-icon-button-standard-hovered-selected-state-layer-color);
  --icon-button-hovered-selected-icon-color: var(--md-comp-icon-button-standard-hovered-selected-icon-color);
  --icon-button-focused-unselected-state-layer-color: var(--md-comp-icon-button-standard-focused-unselected-state-layer-color);
  --icon-button-focused-unselected-state-layer-color: var(--md-comp-icon-button-standard-focused-unselected-state-layer-color);
  --icon-button-focused-unselected-icon-color: var(--md-comp-icon-button-standard-focused-unselected-icon-color);
  --icon-button-focused-selected-state-layer-color: var(--md-comp-icon-button-standard-focused-selected-state-layer-color);
  --icon-button-focused-selected-state-layer-color: var(--md-comp-icon-button-standard-focused-selected-state-layer-color);
  --icon-button-focused-selected-icon-color: var(--md-comp-icon-button-standard-focused-selected-icon-color);
  --icon-button-pressed-unselected-state-layer-color: var(--md-comp-icon-button-standard-pressed-unselected-state-layer-color);
  --icon-button-pressed-unselected-state-layer-color: var(--md-comp-icon-button-standard-pressed-unselected-state-layer-color);
  --icon-button-pressed-unselected-icon-color: var(--md-comp-icon-button-standard-pressed-unselected-icon-color);
  --icon-button-pressed-selected-state-layer-color: var(--md-comp-icon-button-standard-pressed-selected-state-layer-color);
  --icon-button-pressed-selected-state-layer-color: var(--md-comp-icon-button-standard-pressed-selected-state-layer-color);
  --icon-button-pressed-selected-icon-color: var(--md-comp-icon-button-standard-pressed-selected-icon-color);
}