/* prettier-ignore */
.Switch, .Switch * {
  --switch-enabled-selected-track-color: var(--md-comp-switch-enabled-selected-track-color);
  --switch-enabled-unselected-track-color: var(--md-comp-switch-enabled-unselected-track-color);
  --switch-enabled-unselected-track-outline-color: var(--md-comp-switch-enabled-unselected-track-outline-color);
  --switch-enabled-selected-thumb-color: var(--md-comp-switch-enabled-selected-thumb-color);
  --switch-enabled-unselected-thumb-color: var(--md-comp-switch-enabled-unselected-thumb-color);
  --switch-enabled-selected-icon-color: var(--md-comp-switch-enabled-selected-icon-color);
  --switch-enabled-unselected-icon-color: var(--md-comp-switch-enabled-unselected-icon-color);
  --switch-hovered-selected-track-color: var(--md-comp-switch-hovered-selected-track-color);
  --switch-hovered-selected-track-state-layer-color: var(--md-comp-switch-hovered-selected-track-state-layer-color);
  --switch-hovered-selected-track-state-layer-opacity: var(--md-comp-switch-hovered-selected-track-state-layer-opacity);
  --switch-hovered-unselected-track-color: var(--md-comp-switch-hovered-unselected-track-color);
  --switch-hovered-unselected-track-outline-color: var(--md-comp-switch-hovered-unselected-track-outline-color);
  --switch-hovered-unselected-track-state-layer-color: var(--md-comp-switch-hovered-unselected-track-state-layer-color);
  --switch-hovered-unselected-track-state-layer-opacity: var(--md-comp-switch-hovered-unselected-track-state-layer-opacity);
  --switch-hovered-selected-thumb-color: var(--md-comp-switch-hovered-selected-thumb-color);
  --switch-hovered-unselected-thumb-color: var(--md-comp-switch-hovered-unselected-thumb-color);
  --switch-hovered-selected-icon-color: var(--md-comp-switch-hovered-selected-icon-color);
  --switch-hovered-unselected-icon-color: var(--md-comp-switch-hovered-unselected-icon-color);
  --switch-focused-selected-track-color: var(--md-comp-switch-focused-selected-track-color);
  --switch-focused-selected-track-state-layer-color: var(--md-comp-switch-focused-selected-track-state-layer-color);
  --switch-focused-selected-track-state-layer-opacity: var(--md-comp-switch-focused-selected-track-state-layer-opacity);
  --switch-focused-unselected-track-color: var(--md-comp-switch-focused-unselected-track-color);
  --switch-focused-unselected-track-outline-color: var(--md-comp-switch-focused-unselected-track-outline-color);
  --switch-focused-unselected-track-state-layer-color: var(--md-comp-switch-focused-unselected-track-state-layer-color);
  --switch-focused-unselected-track-state-layer-opacity: var(--md-comp-switch-focused-unselected-track-state-layer-opacity);
  --switch-focused-selected-thumb-color: var(--md-comp-switch-focused-selected-thumb-color);
  --switch-focused-unselected-thumb-color: var(--md-comp-switch-focused-unselected-thumb-color);
  --switch-focused-selected-icon-color: var(--md-comp-switch-focused-selected-icon-color);
  --switch-focused-unselected-icon-color: var(--md-comp-switch-focused-unselected-icon-color);
  --switch-pressed-selected-track-color: var(--md-comp-switch-pressed-selected-track-color);
  --switch-pressed-selected-track-state-layer-color: var(--md-comp-switch-pressed-selected-track-state-layer-color);
  --switch-pressed-selected-track-state-layer-opacity: var(--md-comp-switch-pressed-selected-track-state-layer-opacity);
  --switch-pressed-unselected-track-color: var(--md-comp-switch-pressed-unselected-track-color);
  --switch-pressed-unselected-track-outline-color: var(--md-comp-switch-pressed-unselected-track-outline-color);
  --switch-pressed-unselected-track-state-layer-color: var(--md-comp-switch-pressed-unselected-track-state-layer-color);
  --switch-pressed-unselected-track-state-layer-opacity: var(--md-comp-switch-pressed-unselected-track-state-layer-opacity);
  --switch-pressed-selected-thumb-color: var(--md-comp-switch-pressed-selected-thumb-color);
  --switch-pressed-unselected-thumb-color: var(--md-comp-switch-pressed-unselected-thumb-color);
  --switch-pressed-selected-icon-color: var(--md-comp-switch-pressed-selected-icon-color);
  --switch-pressed-unselected-icon-color: var(--md-comp-switch-pressed-unselected-icon-color);
  --switch-disabled-track-opacity: var(--md-comp-switch-disabled-track-opacity);
  --switch-disabled-selected-track-color: var(--md-comp-switch-disabled-selected-track-color);
  --switch-disabled-unselected-track-color: var(--md-comp-switch-disabled-unselected-track-color);
  --switch-disabled-unselected-track-outline-color: var(--md-comp-switch-disabled-unselected-track-outline-color);
  --switch-disabled-unselected-thumb-opacity: var(--md-comp-switch-disabled-unselected-thumb-opacity);
  --switch-disabled-selected-thumb-opacity: var(--md-comp-switch-disabled-selected-thumb-opacity);
  --switch-disabled-selected-thumb-color: var(--md-comp-switch-disabled-selected-thumb-color);
  --switch-disabled-unselected-thumb-color: var(--md-comp-switch-disabled-unselected-thumb-color);
  --switch-disabled-selected-icon-color: var(--md-comp-switch-disabled-selected-icon-color);
  --switch-disabled-selected-icon-opacity: var(--md-comp-switch-disabled-selected-icon-opacity);
  --switch-disabled-unselected-icon-color: var(--md-comp-switch-disabled-unselected-icon-color);
  --switch-disabled-unselected-icon-opacity: var(--md-comp-switch-disabled-unselected-icon-opacity);
}