/* prettier-ignore */
.TextField.Filled, .TextField.Filled * {
  --text-field-enabled-container-color: var(--md-comp-text-field-filled-enabled-container-color);
  --text-field-enabled-container-shape: var(--md-comp-text-field-filled-enabled-container-shape);
  --text-field-enabled-container-width: var(--md-comp-text-field-filled-enabled-container-width);
  --text-field-enabled-leading-icon-color: var(--md-comp-text-field-filled-enabled-leading-icon-color);
  --text-field-enabled-leading-icon-size: var(--md-comp-text-field-filled-enabled-leading-icon-size);
  --text-field-enabled-empty-label-text-color: var(--md-comp-text-field-filled-enabled-empty-label-text-color);
  --text-field-enabled-empty-label-text-font: var(--md-comp-text-field-filled-enabled-empty-label-text-font);
  --text-field-enabled-empty-label-text-line-height: var(--md-comp-text-field-filled-enabled-empty-label-text-line-height);
  --text-field-enabled-empty-label-text-size: var(--md-comp-text-field-filled-enabled-empty-label-text-size);
  --text-field-enabled-empty-label-text-weight: var(--md-comp-text-field-filled-enabled-empty-label-text-weight);
  --text-field-enabled-empty-label-text-tracking: var(--md-comp-text-field-filled-enabled-empty-label-text-tracking);
  --text-field-enabled-populated-label-text-line-height: var(--md-comp-text-field-filled-enabled-populated-label-text-line-height);
  --text-field-enabled-populated-label-text-size: var(--md-comp-text-field-filled-enabled-populated-label-text-size);
  --text-field-enabled-trailing-icon-color: var(--md-comp-text-field-filled-enabled-trailing-icon-color);
  --text-field-enabled-trailing-icon-size: var(--md-comp-text-field-filled-enabled-trailing-icon-size);
  --text-field-enabled-active-indicator-active-indicator-height: var(--md-comp-text-field-filled-enabled-active-indicator-active-indicator-height);
  --text-field-enabled-active-indicator-active-indicator-width: var(--md-comp-text-field-filled-enabled-active-indicator-active-indicator-width);
  --text-field-enabled-active-indicator-active-indicator-color: var(--md-comp-text-field-filled-enabled-active-indicator-active-indicator-color);
  --text-field-enabled-caret-color: var(--md-comp-text-field-filled-enabled-caret-color);
  --text-field-enabled-input-text-color: var(--md-comp-text-field-filled-enabled-input-text-color);
  --text-field-enabled-input-text-font: var(--md-comp-text-field-filled-enabled-input-text-font);
  --text-field-enabled-input-text-line-height: var(--md-comp-text-field-filled-enabled-input-text-line-height);
  --text-field-enabled-input-text-size: var(--md-comp-text-field-filled-enabled-input-text-size);
  --text-field-enabled-input-text-weight: var(--md-comp-text-field-filled-enabled-input-text-weight);
  --text-field-enabled-input-text-tracking: var(--md-comp-text-field-filled-enabled-input-text-tracking);
  --text-field-enabled-supporting-text-color: var(--md-comp-text-field-filled-enabled-supporting-text-color);
  --text-field-enabled-supporting-text-font: var(--md-comp-text-field-filled-enabled-supporting-text-font);
  --text-field-enabled-supporting-text-line-height: var(--md-comp-text-field-filled-enabled-supporting-text-line-height);
  --text-field-enabled-supporting-text-size: var(--md-comp-text-field-filled-enabled-supporting-text-size);
  --text-field-enabled-supporting-text-weight: var(--md-comp-text-field-filled-enabled-supporting-text-weight);
  --text-field-enabled-supporting-text-tracking: var(--md-comp-text-field-filled-enabled-supporting-text-tracking);
  --text-field-enabled-placeholder-input-text-color: var(--md-comp-text-field-filled-enabled-placeholder-input-text-color);
  --text-field-enabled-prefix-input-label-color: var(--md-comp-text-field-filled-enabled-prefix-input-label-color);
  --text-field-enabled-suffix-input-label-color: var(--md-comp-text-field-filled-enabled-suffix-input-label-color);
  --text-field-focused-active-indicator-active-indicator-height: var(--md-comp-text-field-filled-focused-active-indicator-active-indicator-height);
  --text-field-focused-active-indicator-active-indicator-color: var(--md-comp-text-field-filled-focused-active-indicator-active-indicator-color);
  --text-field-focused-label-text-color: var(--md-comp-text-field-filled-focused-label-text-color);
  --text-field-focused-input-text-color: var(--md-comp-text-field-filled-focused-input-text-color);
  --text-field-focused-supporting-text-color: var(--md-comp-text-field-filled-focused-supporting-text-color);
  --text-field-focused-leading-icon-color: var(--md-comp-text-field-filled-focused-leading-icon-color);
  --text-field-focused-trailing-icon-color: var(--md-comp-text-field-filled-focused-trailing-icon-color);
  --text-field-hovered-active-indicator-active-indicator-height: var(--md-comp-text-field-filled-hovered-active-indicator-active-indicator-height);
  --text-field-hovered-active-indicator-active-indicator-color: var(--md-comp-text-field-filled-hovered-active-indicator-active-indicator-color);
  --text-field-hovered-label-text-color: var(--md-comp-text-field-filled-hovered-label-text-color);
  --text-field-hovered-input-text-color: var(--md-comp-text-field-filled-hovered-input-text-color);
  --text-field-hovered-supporting-text-color: var(--md-comp-text-field-filled-hovered-supporting-text-color);
  --text-field-hovered-leading-icon-color: var(--md-comp-text-field-filled-hovered-leading-icon-color);
  --text-field-hovered-trailing-icon-color: var(--md-comp-text-field-filled-hovered-trailing-icon-color);
  --text-field-hovered-state-layer-color: var(--md-comp-text-field-filled-hovered-state-layer-color);
  --text-field-hovered-state-layer-opacity: var(--md-comp-text-field-filled-hovered-state-layer-opacity);
  --text-field-disabled-state-layer-opacity: var(--md-comp-text-field-filled-disabled-state-layer-opacity);
  --text-field-disabled-container-color: var(--md-comp-text-field-filled-disabled-container-color);
  --text-field-disabled-container-opacity: var(--md-comp-text-field-filled-disabled-container-opacity);
  --text-field-disabled-active-indicator-height: var(--md-comp-text-field-filled-disabled-active-indicator-height);
  --text-field-disabled-active-indicator-color: var(--md-comp-text-field-filled-disabled-active-indicator-color);
  --text-field-disabled-active-indicator-opacity: var(--md-comp-text-field-filled-disabled-active-indicator-opacity);
  --text-field-disabled-label-text-color: var(--md-comp-text-field-filled-disabled-label-text-color);
  --text-field-disabled-label-text-opacity: var(--md-comp-text-field-filled-disabled-label-text-opacity);
  --text-field-disabled-input-text-color: var(--md-comp-text-field-filled-disabled-input-text-color);
  --text-field-disabled-input-text-opacity: var(--md-comp-text-field-filled-disabled-input-text-opacity);
  --text-field-disabled-supporting-text-color: var(--md-comp-text-field-filled-disabled-supporting-text-color);
  --text-field-disabled-supporting-text-opacity: var(--md-comp-text-field-filled-disabled-supporting-text-opacity);
  --text-field-disabled-leading-icon-color: var(--md-comp-text-field-filled-disabled-leading-icon-color);
  --text-field-disabled-leading-icon-opacity: var(--md-comp-text-field-filled-disabled-leading-icon-opacity);
  --text-field-disabled-trailing-icon-color: var(--md-comp-text-field-filled-disabled-trailing-icon-color);
  --text-field-disabled-trailing-icon-opacity: var(--md-comp-text-field-filled-disabled-trailing-icon-opacity);
}
/* prettier-ignore */
.TextField.Filled, .TextField.Filled * {
  --text-field-error-active-indicator-active-indicator-color: var(--md-comp-text-field-filled-error-active-indicator-active-indicator-color);
  --text-field-error-label-text-color: var(--md-comp-text-field-filled-error-label-text-color);
  --text-field-error-input-text-color: var(--md-comp-text-field-filled-error-input-text-color);
  --text-field-error-supporting-text-color: var(--md-comp-text-field-filled-error-supporting-text-color);
  --text-field-error-leading-icon-color: var(--md-comp-text-field-filled-error-leading-icon-color);
  --text-field-error-trailing-icon-color: var(--md-comp-text-field-filled-error-trailing-icon-color);
  --text-field-error-focused-active-indicator-active-indicator-color: var(--md-comp-text-field-filled-error-focused-active-indicator-active-indicator-color);
  --text-field-error-focused-label-text-color: var(--md-comp-text-field-filled-error-focused-label-text-color);
  --text-field-error-focused-input-text-color: var(--md-comp-text-field-filled-error-focused-input-text-color);
  --text-field-error-focused-supporting-text-color: var(--md-comp-text-field-filled-error-focused-supporting-text-color);
  --text-field-error-focused-leading-icon-color: var(--md-comp-text-field-filled-error-focused-leading-icon-color);
  --text-field-error-focused-trailing-icon-color: var(--md-comp-text-field-filled-error-focused-trailing-icon-color);
  --text-field-error-focused-caret-color: var(--md-comp-text-field-filled-error-focused-caret-color);
  --text-field-error-hovered-active-indicator-active-indicator-color: var(--md-comp-text-field-filled-error-hovered-active-indicator-active-indicator-color);
  --text-field-error-hovered-label-text-color: var(--md-comp-text-field-filled-error-hovered-label-text-color);
  --text-field-error-hovered-input-text-color: var(--md-comp-text-field-filled-error-hovered-input-text-color);
  --text-field-error-hovered-supporting-text-color: var(--md-comp-text-field-filled-error-hovered-supporting-text-color);
  --text-field-error-hovered-leading-icon-color: var(--md-comp-text-field-filled-error-hovered-leading-icon-color);
  --text-field-error-hovered-trailing-icon-color: var(--md-comp-text-field-filled-error-hovered-trailing-icon-color);
  --text-field-error-hovered-state-layer-color: var(--md-comp-text-field-filled-error-hovered-state-layer-color);
  --text-field-error-hovered-state-layer-opacity: var(--md-comp-text-field-filled-error-hovered-state-layer-opacity);
}
/* prettier-ignore */
.TextField.Outlined, .TextField.Outlined * {
  --text-field-enabled-container-shape: var(--md-comp-text-field-outlined-enabled-container-shape);
  --text-field-enabled-container-outline-width: var(--md-comp-text-field-outlined-enabled-container-outline-width);
  --text-field-enabled-container-outline-color: var(--md-comp-text-field-outlined-enabled-container-outline-color);
  --text-field-enabled-container-width: var(--md-comp-text-field-outlined-enabled-container-width);
  --text-field-enabled-unpopulated-label-text-color: var(--md-comp-text-field-outlined-enabled-unpopulated-label-text-color);
  --text-field-enabled-unpopulated-label-text-font: var(--md-comp-text-field-outlined-enabled-unpopulated-label-text-font);
  --text-field-enabled-unpopulated-label-text-line-height: var(--md-comp-text-field-outlined-enabled-unpopulated-label-text-line-height);
  --text-field-enabled-unpopulated-label-text-size: var(--md-comp-text-field-outlined-enabled-unpopulated-label-text-size);
  --text-field-enabled-unpopulated-label-text-weight: var(--md-comp-text-field-outlined-enabled-unpopulated-label-text-weight);
  --text-field-enabled-unpopulated-label-text-tracking: var(--md-comp-text-field-outlined-enabled-unpopulated-label-text-tracking);
  --text-field-enabled-leading-icon-color: var(--md-comp-text-field-outlined-enabled-leading-icon-color);
  --text-field-enabled-leading-icon-size: var(--md-comp-text-field-outlined-enabled-leading-icon-size);
  --text-field-enabled-populated-label-text-line-height: var(--md-comp-text-field-outlined-enabled-populated-label-text-line-height);
  --text-field-enabled-populated-label-text-size: var(--md-comp-text-field-outlined-enabled-populated-label-text-size);
  --text-field-enabled-trailing-icon-color: var(--md-comp-text-field-outlined-enabled-trailing-icon-color);
  --text-field-enabled-trailing-icon-size: var(--md-comp-text-field-outlined-enabled-trailing-icon-size);
  --text-field-enabled-caret-color: var(--md-comp-text-field-outlined-enabled-caret-color);
  --text-field-enabled-input-text-color: var(--md-comp-text-field-outlined-enabled-input-text-color);
  --text-field-enabled-input-text-font: var(--md-comp-text-field-outlined-enabled-input-text-font);
  --text-field-enabled-input-text-line-height: var(--md-comp-text-field-outlined-enabled-input-text-line-height);
  --text-field-enabled-input-text-size: var(--md-comp-text-field-outlined-enabled-input-text-size);
  --text-field-enabled-input-text-weight: var(--md-comp-text-field-outlined-enabled-input-text-weight);
  --text-field-enabled-input-text-tracking: var(--md-comp-text-field-outlined-enabled-input-text-tracking);
  --text-field-enabled-supporting-text-color: var(--md-comp-text-field-outlined-enabled-supporting-text-color);
  --text-field-enabled-supporting-text-font: var(--md-comp-text-field-outlined-enabled-supporting-text-font);
  --text-field-enabled-supporting-text-line-height: var(--md-comp-text-field-outlined-enabled-supporting-text-line-height);
  --text-field-enabled-supporting-text-size: var(--md-comp-text-field-outlined-enabled-supporting-text-size);
  --text-field-enabled-supporting-text-weight: var(--md-comp-text-field-outlined-enabled-supporting-text-weight);
  --text-field-enabled-supporting-text-tracking: var(--md-comp-text-field-outlined-enabled-supporting-text-tracking);
  --text-field-enabled-not-shown-in-diagram-placeholder-input-text-color: var(--md-comp-text-field-outlined-enabled-not-shown-in-diagram-placeholder-input-text-color);
  --text-field-enabled-not-shown-in-diagram-suffix-input-text-color: var(--md-comp-text-field-outlined-enabled-not-shown-in-diagram-suffix-input-text-color);
  --text-field-enabled-not-shown-in-diagram-prefix-input-text-color: var(--md-comp-text-field-outlined-enabled-not-shown-in-diagram-prefix-input-text-color);
  --text-field-disabled-outline-outline: var(--md-comp-text-field-outlined-disabled-outline-outline);
  --text-field-disabled-outline-outline-color: var(--md-comp-text-field-outlined-disabled-outline-outline-color);
  --text-field-disabled-outline-outline-opacity: var(--md-comp-text-field-outlined-disabled-outline-outline-opacity);
  --text-field-disabled-label-text-color: var(--md-comp-text-field-outlined-disabled-label-text-color);
  --text-field-disabled-label-text-opacity: var(--md-comp-text-field-outlined-disabled-label-text-opacity);
  --text-field-disabled-input-text-color: var(--md-comp-text-field-outlined-disabled-input-text-color);
  --text-field-disabled-input-text-opacity: var(--md-comp-text-field-outlined-disabled-input-text-opacity);
  --text-field-disabled-supporting-text-color: var(--md-comp-text-field-outlined-disabled-supporting-text-color);
  --text-field-disabled-supporting-text-opacity: var(--md-comp-text-field-outlined-disabled-supporting-text-opacity);
  --text-field-disabled-leading-icon-color: var(--md-comp-text-field-outlined-disabled-leading-icon-color);
  --text-field-disabled-leading-icon-opacity: var(--md-comp-text-field-outlined-disabled-leading-icon-opacity);
  --text-field-disabled-trailing-icon-color: var(--md-comp-text-field-outlined-disabled-trailing-icon-color);
  --text-field-disabled-trailing-icon-opacity: var(--md-comp-text-field-outlined-disabled-trailing-icon-opacity);
  --text-field-disabled-trailing-icon-opacity: var(--md-comp-text-field-outlined-disabled-trailing-icon-opacity);
  --text-field-focused-outline-outline-width: var(--md-comp-text-field-outlined-focused-outline-outline-width);
  --text-field-focused-outline-outline-color: var(--md-comp-text-field-outlined-focused-outline-outline-color);
  --text-field-focused-label-text-color: var(--md-comp-text-field-outlined-focused-label-text-color);
  --text-field-focused-input-text-color: var(--md-comp-text-field-outlined-focused-input-text-color);
  --text-field-focused-supporting-text-color: var(--md-comp-text-field-outlined-focused-supporting-text-color);
  --text-field-focused-leading-icon-color: var(--md-comp-text-field-outlined-focused-leading-icon-color);
  --text-field-focused-trailing-icon-color: var(--md-comp-text-field-outlined-focused-trailing-icon-color);
  --text-field-focused-trailing-icon-color: var(--md-comp-text-field-outlined-focused-trailing-icon-color);
  --text-field-hovered-outline-outline-width: var(--md-comp-text-field-outlined-hovered-outline-outline-width);
  --text-field-hovered-outline-outline-color: var(--md-comp-text-field-outlined-hovered-outline-outline-color);
  --text-field-hovered-label-text-color: var(--md-comp-text-field-outlined-hovered-label-text-color);
  --text-field-hovered-input-text-color: var(--md-comp-text-field-outlined-hovered-input-text-color);
  --text-field-hovered-supporting-text-color: var(--md-comp-text-field-outlined-hovered-supporting-text-color);
  --text-field-hovered-leading-icon-color: var(--md-comp-text-field-outlined-hovered-leading-icon-color);
  --text-field-hovered-trailing-icon-color: var(--md-comp-text-field-outlined-hovered-trailing-icon-color);
}
/* prettier-ignore */
.TextField.Outlined, .TextField.Outlined * {
  --text-field-error-outline-outline-color: var(--md-comp-text-field-outlined-error-outline-outline-color);
  --text-field-error-label-text-color: var(--md-comp-text-field-outlined-error-label-text-color);
  --text-field-error-input-text-color: var(--md-comp-text-field-outlined-error-input-text-color);
  --text-field-error-supporting-text-color: var(--md-comp-text-field-outlined-error-supporting-text-color);
  --text-field-error-leading-icon-color: var(--md-comp-text-field-outlined-error-leading-icon-color);
  --text-field-error-trailing-icon-color: var(--md-comp-text-field-outlined-error-trailing-icon-color);
  --text-field-error-focused-outline-outline-color: var(--md-comp-text-field-outlined-error-focused-outline-outline-color);
  --text-field-error-focused-label-text-color: var(--md-comp-text-field-outlined-error-focused-label-text-color);
  --text-field-error-focused-input-text-color: var(--md-comp-text-field-outlined-error-focused-input-text-color);
  --text-field-error-focused-supporting-text-color: var(--md-comp-text-field-outlined-error-focused-supporting-text-color);
  --text-field-error-focused-leading-icon-color: var(--md-comp-text-field-outlined-error-focused-leading-icon-color);
  --text-field-error-focused-trailing-icon-color: var(--md-comp-text-field-outlined-error-focused-trailing-icon-color);
  --text-field-error-focused-caret-color: var(--md-comp-text-field-outlined-error-focused-caret-color);
  --text-field-error-hovered-outline-outline-color: var(--md-comp-text-field-outlined-error-hovered-outline-outline-color);
  --text-field-error-hovered-label-text-color: var(--md-comp-text-field-outlined-error-hovered-label-text-color);
  --text-field-error-hovered-input-text-color: var(--md-comp-text-field-outlined-error-hovered-input-text-color);
  --text-field-error-hovered-supporting-text-color: var(--md-comp-text-field-outlined-error-hovered-supporting-text-color);
  --text-field-error-hovered-leading-icon-color: var(--md-comp-text-field-outlined-error-hovered-leading-icon-color);
  --text-field-error-hovered-trailing-icon-color: var(--md-comp-text-field-outlined-error-hovered-trailing-icon-color);
}