*, ::backdrop {
  --md-comp-icon-button-filled-enabled-icon-size: 24px;
  --md-comp-icon-button-filled-enabled-default-icon-color: var(--md-sys-color-on-primary);
  --md-comp-icon-button-filled-enabled-unselected-icon-color: var(--md-sys-color-primary);
  --md-comp-icon-button-filled-enabled-selected-icon-color: var(--md-sys-color-on-primary);
  --md-comp-icon-button-filled-enabled-container-size: 40px;
  --md-comp-icon-button-filled-enabled-container-shape: var(--md-sys-shape-corner-full);
  --md-comp-icon-button-filled-enabled-default-container-color: var(--md-sys-color-primary);
  --md-comp-icon-button-filled-enabled-unselected-container-color: var(--md-sys-color-surface-container-highest);
  --md-comp-icon-button-filled-enabled-selected-container-color: var(--md-sys-color-primary);
  --md-comp-icon-button-filled-disabled-icon-color: var(--md-sys-color-on-surface);
  --md-comp-icon-button-filled-disabled-icon-opacity: 38%;
  --md-comp-icon-button-filled-disabled-container-color: var(--md-sys-color-on-surface);
  --md-comp-icon-button-filled-disabled-container-opacity: 12%;
  --md-comp-icon-button-filled-hovered-state-layer-opacity: var(--md-sys-state-hover-state-layer-opacity);
  --md-comp-icon-button-filled-hovered-default-state-layer-color: var(--md-sys-color-on-primary);
  --md-comp-icon-button-filled-hovered-unselected-state-layer-color: var(--md-sys-color-primary);
  --md-comp-icon-button-filled-hovered-selected-state-layer-color: var(--md-sys-color-on-primary);
  --md-comp-icon-button-filled-hovered-default-icon-color: var(--md-sys-color-on-primary);
  --md-comp-icon-button-filled-hovered-unselected-icon-color: var(--md-sys-color-primary);
  --md-comp-icon-button-filled-hovered-selected-icon-color: var(--md-sys-color-on-primary);
  --md-comp-icon-button-filled-focused-state-layer-opacity: var(--md-sys-state-focus-state-layer-opacity);
  --md-comp-icon-button-filled-focused-default-state-layer-color: var(--md-sys-color-on-primary);
  --md-comp-icon-button-filled-focused-unselected-state-layer-color: var(--md-sys-color-primary);
  --md-comp-icon-button-filled-focused-selected-state-layer-color: var(--md-sys-color-on-primary);
  --md-comp-icon-button-filled-focused-default-icon-color: var(--md-sys-color-on-primary);
  --md-comp-icon-button-filled-focused-unselected-icon-color: var(--md-sys-color-primary);
  --md-comp-icon-button-filled-focused-selected-icon-color: var(--md-sys-color-on-primary);
  --md-comp-icon-button-filled-pressed-state-layer-opacity: var(--md-sys-state-pressed-state-layer-opacity);
  --md-comp-icon-button-filled-pressed-default-state-layer-color: var(--md-sys-color-on-primary);
  --md-comp-icon-button-filled-pressed-unselected-state-layer-color: var(--md-sys-color-primary);
  --md-comp-icon-button-filled-pressed-selected-state-layer-color: var(--md-sys-color-on-primary);
  --md-comp-icon-button-filled-pressed-default-icon-color: var(--md-sys-color-on-primary);
  --md-comp-icon-button-filled-pressed-unselected-icon-color: var(--md-sys-color-primary);
  --md-comp-icon-button-filled-pressed-selected-icon-color: var(--md-sys-color-on-primary);
}