*, ::backdrop {
  --md-comp-text-field-filled-enabled-container-color: var(--md-sys-color-surface-variant);
  --md-comp-text-field-filled-enabled-container-shape: var(--md-sys-shape-corner-extra-small-top);
  --md-comp-text-field-filled-enabled-container-width: dynamic width;
  --md-comp-text-field-filled-enabled-leading-icon-color: var(--md-sys-color-on-surface-variant);
  --md-comp-text-field-filled-enabled-leading-icon-size: 20px;
  --md-comp-text-field-filled-enabled-empty-label-text-color: var(--md-sys-color-on-surface-variant);
  --md-comp-text-field-filled-enabled-empty-label-text-font: var(--md-sys-typescale-body-large-font);
  --md-comp-text-field-filled-enabled-empty-label-text-line-height: var(--md-sys-typescale-body-large-line-height);
  --md-comp-text-field-filled-enabled-empty-label-text-size: var(--md-sys-typescale-body-large-size);
  --md-comp-text-field-filled-enabled-empty-label-text-weight: var(--md-sys-typescale-body-large-weight);
  --md-comp-text-field-filled-enabled-empty-label-text-tracking: var(--md-sys-typescale-body-large-tracking);
  --md-comp-text-field-filled-enabled-populated-label-text-line-height: var(--md-sys-typescale-body-small-line-height);
  --md-comp-text-field-filled-enabled-populated-label-text-size: var(--md-sys-typescale-body-small-size);
  --md-comp-text-field-filled-enabled-trailing-icon-color: var(--md-sys-color-on-surface-variant);
  --md-comp-text-field-filled-enabled-trailing-icon-size: 24px;
  --md-comp-text-field-filled-enabled-active-indicator-active-indicator-height: 1px;
  --md-comp-text-field-filled-enabled-active-indicator-active-indicator-width: dynamic width;
  --md-comp-text-field-filled-enabled-active-indicator-active-indicator-color: var(--md-sys-color-on-surface-variant);
  --md-comp-text-field-filled-enabled-caret-color: var(--md-sys-color-primary);
  --md-comp-text-field-filled-enabled-input-text-color: var(--md-sys-color-on-surface);
  --md-comp-text-field-filled-enabled-input-text-font: var(--md-sys-typescale-body-large-font);
  --md-comp-text-field-filled-enabled-input-text-line-height: var(--md-sys-typescale-body-large-line-height);
  --md-comp-text-field-filled-enabled-input-text-size: var(--md-sys-typescale-body-large-size);
  --md-comp-text-field-filled-enabled-input-text-weight: var(--md-sys-typescale-body-large-weight);
  --md-comp-text-field-filled-enabled-input-text-tracking: var(--md-sys-typescale-body-large-tracking);
  --md-comp-text-field-filled-enabled-supporting-text-color: var(--md-sys-color-on-surface-variant);
  --md-comp-text-field-filled-enabled-supporting-text-font: var(--md-sys-typescale-body-small-font);
  --md-comp-text-field-filled-enabled-supporting-text-line-height: var(--md-sys-typescale-body-small-line-height);
  --md-comp-text-field-filled-enabled-supporting-text-size: var(--md-sys-typescale-body-small-size);
  --md-comp-text-field-filled-enabled-supporting-text-weight: var(--md-sys-typescale-body-small-weight);
  --md-comp-text-field-filled-enabled-supporting-text-tracking: var(--md-sys-typescale-body-small-tracking);
  --md-comp-text-field-filled-enabled-placeholder-input-text-color: var(--md-sys-color-on-surface-variant);
  --md-comp-text-field-filled-enabled-prefix-input-label-color: var(--md-sys-color-on-surface-variant);
  --md-comp-text-field-filled-enabled-suffix-input-label-color: var(--md-sys-color-on-surface-variant);
  --md-comp-text-field-filled-focused-active-indicator-active-indicator-height: 2px;
  --md-comp-text-field-filled-focused-active-indicator-active-indicator-color: var(--md-sys-color-primary);
  --md-comp-text-field-filled-focused-label-text-color: var(--md-sys-color-primary);
  --md-comp-text-field-filled-focused-input-text-color: var(--md-sys-color-on-surface);
  --md-comp-text-field-filled-focused-supporting-text-color: var(--md-sys-color-on-surface-variant);
  --md-comp-text-field-filled-focused-leading-icon-color: var(--md-sys-color-on-surface-variant);
  --md-comp-text-field-filled-focused-trailing-icon-color: var(--md-sys-color-on-surface-variant);
  --md-comp-text-field-filled-hovered-active-indicator-active-indicator-height: 1px;
  --md-comp-text-field-filled-hovered-active-indicator-active-indicator-color: var(--md-sys-color-on-surface);
  --md-comp-text-field-filled-hovered-label-text-color: var(--md-sys-color-on-surface-variant);
  --md-comp-text-field-filled-hovered-input-text-color: var(--md-sys-color-on-surface);
  --md-comp-text-field-filled-hovered-supporting-text-color: var(--md-sys-color-on-surface-variant);
  --md-comp-text-field-filled-hovered-leading-icon-color: var(--md-sys-color-on-surface-variant);
  --md-comp-text-field-filled-hovered-trailing-icon-color: var(--md-sys-color-on-surface-variant);
  --md-comp-text-field-filled-hovered-state-layer-color: var(--md-sys-color-on-surface);
  --md-comp-text-field-filled-hovered-state-layer-opacity: var(--md-sys-state-hover-state-layer-opacity);
  --md-comp-text-field-filled-disabled-state-layer-opacity: ;
  --md-comp-text-field-filled-disabled-container-color: var(--md-sys-color-on-surface);
  --md-comp-text-field-filled-disabled-container-opacity: 4%;
  --md-comp-text-field-filled-disabled-active-indicator-height: 1px;
  --md-comp-text-field-filled-disabled-active-indicator-color: var(--md-sys-color-on-surface);
  --md-comp-text-field-filled-disabled-active-indicator-opacity: 38%;
  --md-comp-text-field-filled-disabled-label-text-color: var(--md-sys-color-on-surface);
  --md-comp-text-field-filled-disabled-label-text-opacity: 38%;
  --md-comp-text-field-filled-disabled-input-text-color: var(--md-sys-color-on-surface);
  --md-comp-text-field-filled-disabled-input-text-opacity: 38%;
  --md-comp-text-field-filled-disabled-supporting-text-color: var(--md-sys-color-on-surface);
  --md-comp-text-field-filled-disabled-supporting-text-opacity: 38%;
  --md-comp-text-field-filled-disabled-leading-icon-color: var(--md-sys-color-on-surface);
  --md-comp-text-field-filled-disabled-leading-icon-opacity: 38%;
  --md-comp-text-field-filled-disabled-trailing-icon-color: var(--md-sys-color-on-surface);
  --md-comp-text-field-filled-disabled-trailing-icon-opacity: 38%;
}