*, ::backdrop {
  --md-comp-text-field-outlined-enabled-container-shape: var(--md-sys-shape-corner-extra-small);
  --md-comp-text-field-outlined-enabled-container-outline-width: 1px;
  --md-comp-text-field-outlined-enabled-container-outline-color: var(--md-sys-color-outline);
  --md-comp-text-field-outlined-enabled-container-width: dynamic width;
  --md-comp-text-field-outlined-enabled-unpopulated-label-text-color: var(--md-sys-color-on-surface-variant);
  --md-comp-text-field-outlined-enabled-unpopulated-label-text-font: var(--md-sys-typescale-body-large-font);
  --md-comp-text-field-outlined-enabled-unpopulated-label-text-line-height: var(--md-sys-typescale-body-large-line-height);
  --md-comp-text-field-outlined-enabled-unpopulated-label-text-size: var(--md-sys-typescale-body-large-size);
  --md-comp-text-field-outlined-enabled-unpopulated-label-text-weight: var(--md-sys-typescale-body-large-weight);
  --md-comp-text-field-outlined-enabled-unpopulated-label-text-tracking: var(--md-sys-typescale-body-large-tracking);
  --md-comp-text-field-outlined-enabled-leading-icon-color: var(--md-sys-color-on-surface-variant);
  --md-comp-text-field-outlined-enabled-leading-icon-size: 24px;
  --md-comp-text-field-outlined-enabled-populated-label-text-line-height: var(--md-sys-typescale-body-small-line-height);
  --md-comp-text-field-outlined-enabled-populated-label-text-size: var(--md-sys-typescale-body-small-size);
  --md-comp-text-field-outlined-enabled-trailing-icon-color: var(--md-sys-color-on-surface-variant);
  --md-comp-text-field-outlined-enabled-trailing-icon-size: 24px;
  --md-comp-text-field-outlined-enabled-caret-color: var(--md-sys-color-primary);
  --md-comp-text-field-outlined-enabled-input-text-color: var(--md-sys-color-on-surface);
  --md-comp-text-field-outlined-enabled-input-text-font: var(--md-sys-typescale-body-large-font);
  --md-comp-text-field-outlined-enabled-input-text-line-height: var(--md-sys-typescale-body-large-line-height);
  --md-comp-text-field-outlined-enabled-input-text-size: var(--md-sys-typescale-body-large-size);
  --md-comp-text-field-outlined-enabled-input-text-weight: var(--md-sys-typescale-body-large-weight);
  --md-comp-text-field-outlined-enabled-input-text-tracking: var(--md-sys-typescale-body-large-tracking);
  --md-comp-text-field-outlined-enabled-supporting-text-color: var(--md-sys-color-on-surface-variant);
  --md-comp-text-field-outlined-enabled-supporting-text-font: var(--md-sys-typescale-body-small-font);
  --md-comp-text-field-outlined-enabled-supporting-text-line-height: var(--md-sys-typescale-body-small-line-height);
  --md-comp-text-field-outlined-enabled-supporting-text-size: var(--md-sys-typescale-body-small-size);
  --md-comp-text-field-outlined-enabled-supporting-text-weight: var(--md-sys-typescale-body-small-weight);
  --md-comp-text-field-outlined-enabled-supporting-text-tracking: var(--md-sys-typescale-body-small-tracking);
  --md-comp-text-field-outlined-enabled-not-shown-in-diagram-placeholder-input-text-color: var(--md-sys-color-on-surface-variant);
  --md-comp-text-field-outlined-enabled-not-shown-in-diagram-suffix-input-text-color: var(--md-sys-color-on-surface-variant);
  --md-comp-text-field-outlined-enabled-not-shown-in-diagram-prefix-input-text-color: var(--md-sys-color-on-surface-variant);
  --md-comp-text-field-outlined-disabled-outline-outline: 1px;
  --md-comp-text-field-outlined-disabled-outline-outline-color: var(--md-sys-color-on-surface);
  --md-comp-text-field-outlined-disabled-outline-outline-opacity: 12%;
  --md-comp-text-field-outlined-disabled-label-text-color: var(--md-sys-color-on-surface);
  --md-comp-text-field-outlined-disabled-label-text-opacity: 38%;
  --md-comp-text-field-outlined-disabled-input-text-color: var(--md-sys-color-on-surface);
  --md-comp-text-field-outlined-disabled-input-text-opacity: 38%;
  --md-comp-text-field-outlined-disabled-supporting-text-color: var(--md-sys-color-on-surface);
  --md-comp-text-field-outlined-disabled-supporting-text-opacity: 38%;
  --md-comp-text-field-outlined-disabled-leading-icon-color: var(--md-sys-color-on-surface);
  --md-comp-text-field-outlined-disabled-leading-icon-opacity: 38%;
  --md-comp-text-field-outlined-disabled-trailing-icon-color: var(--md-sys-color-on-surface);
  --md-comp-text-field-outlined-disabled-trailing-icon-opacity: 38%;
  --md-comp-text-field-outlined-disabled-trailing-icon-opacity: ;
  --md-comp-text-field-outlined-focused-outline-outline-width: 2px;
  --md-comp-text-field-outlined-focused-outline-outline-color: var(--md-sys-color-primary);
  --md-comp-text-field-outlined-focused-label-text-color: var(--md-sys-color-primary);
  --md-comp-text-field-outlined-focused-input-text-color: var(--md-sys-color-on-surface);
  --md-comp-text-field-outlined-focused-supporting-text-color: var(--md-sys-color-on-surface-variant);
  --md-comp-text-field-outlined-focused-leading-icon-color: var(--md-sys-color-on-surface-variant);
  --md-comp-text-field-outlined-focused-trailing-icon-color: var(--md-sys-color-on-surface-variant);
  --md-comp-text-field-outlined-focused-trailing-icon-color: ;
  --md-comp-text-field-outlined-hovered-outline-outline-width: 1px;
  --md-comp-text-field-outlined-hovered-outline-outline-color: var(--md-sys-color-on-surface);
  --md-comp-text-field-outlined-hovered-label-text-color: var(--md-sys-color-on-surface);
  --md-comp-text-field-outlined-hovered-input-text-color: var(--md-sys-color-on-surface);
  --md-comp-text-field-outlined-hovered-supporting-text-color: var(--md-sys-color-on-surface-variant);
  --md-comp-text-field-outlined-hovered-leading-icon-color: var(--md-sys-color-on-surface-variant);
  --md-comp-text-field-outlined-hovered-trailing-icon-color: var(--md-sys-color-on-surface-variant);
}