*, ::backdrop {
  --md-comp-button-outlined-enabled-container-outline-color: var(--md-sys-color-outline);
  --md-comp-button-outlined-enabled-container-outline-width: 1px;
  --md-comp-button-outlined-enabled-container-elevation: var(--md-sys-elevation-level0);
  --md-comp-button-outlined-enabled-label-text-color: var(--md-sys-color-primary);
  --md-comp-button-outlined-enabled-label-text-font: var(--md-sys-typescale-label-large-font);
  --md-comp-button-outlined-enabled-label-text-line-height: var(--md-sys-typescale-label-large-line-height);
  --md-comp-button-outlined-enabled-label-text-size: var(--md-sys-typescale-label-large-size);
  --md-comp-button-outlined-enabled-label-text-tracking: var(--md-sys-typescale-label-large-tracking);
  --md-comp-button-outlined-enabled-label-text-weight: var(--md-sys-typescale-label-large-weight);
  --md-comp-button-outlined-enabled-icon-color: var(--md-sys-color-primary);
  --md-comp-button-outlined-disabled-container-outline-color: var(--md-sys-color-on-surface);
  --md-comp-button-outlined-disabled-container-outline-opacity: 12%;
  --md-comp-button-outlined-disabled-label-text-color: var(--md-sys-color-on-surface);
  --md-comp-button-outlined-disabled-label-text-opacity: 38%;
  --md-comp-button-outlined-disabled-icon-color: var(--md-sys-color-on-surface);
  --md-comp-button-outlined-disabled-icon-opacity: 38%;
  --md-comp-button-outlined-hovered-container-outline-color: var(--md-sys-color-outline);
  --md-comp-button-outlined-hovered-container-state-layer-color: var(--md-sys-color-primary);
  --md-comp-button-outlined-hovered-container-state-layer-opacity: var(--md-sys-state-hover-state-layer-opacity);
  --md-comp-button-outlined-hovered-label-text-color: var(--md-sys-color-primary);
  --md-comp-button-outlined-hovered-icon-color: var(--md-sys-color-primary);
  --md-comp-button-outlined-focused-container-outline-color: var(--md-sys-color-primary);
  --md-comp-button-outlined-focused-container-state-layer-color: var(--md-sys-color-primary);
  --md-comp-button-outlined-focused-container-state-layer-opacity: var(--md-sys-state-focus-state-layer-opacity);
  --md-comp-button-outlined-focused-label-text-color: var(--md-sys-color-primary);
  --md-comp-button-outlined-focused-icon-color: var(--md-sys-color-primary);
  --md-comp-button-outlined-pressed-container-outline-color: var(--md-sys-color-outline);
  --md-comp-button-outlined-pressed-container-state-layer-color: var(--md-sys-color-primary);
  --md-comp-button-outlined-pressed-container-state-layer-opacity: var(--md-sys-state-pressed-state-layer-opacity);
  --md-comp-button-outlined-pressed-label-text-color: var(--md-sys-color-primary);
  --md-comp-button-outlined-pressed-icon-color: var(--md-sys-color-primary);
}